@charset "utf-8";

/* Facebook Plugin */
#fb-root {
    display: none;
}

.fb-comments {
    width: 100% !important;
}

.fb-comments iframe[style] {
    width: 100% !important;
}

.fb-like-box {
    min-width: 280px;
    width: 100% !important;
}

.fb-like-box iframe[style] {
    min-width: 280px;
    width: 100% !important;
}

.fb-comments span {
    width: 100% !important;
}

.fb-comments iframe span[style] {
    width: 100% !important;
}

.fb-like-box span {
    min-width: 280px;
    width: 100% !important;
}

.fb-like-box iframe span[style] {
    min-width: 280px;
    width: 100% !important;
}

.-cx-PRIVATE-pluginBoxContainer__border {
    border: none;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
}

@media (min-width:768px)
{
    .div-table {
        display: table;
        border-collapse: collapse;
    }

    .div-table .row {
        display: table-row;
    }

    .div-td {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

/* define bootstrap 5 columns */
.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }

    .footerInfo {
        text-align: left;
    }
    .footerInfo2 {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 768px){
    .pagination > li > a,
    .pagination > li > span {
        margin-left: 5px;
    }

    .fslider.flex-thumb-grid.grid-12 .flex-control-nav.flex-control-thumbs li {
        width: 25% !important;
    }

    .footerInfo ,
    .footerInfo2 {
        text-align: center;
    }

    .footerInfo2 span:last-child {
        display: block;
    }

    .search-form button {
        width: 45px;
    }

    .slider-wrap .slide span{
        font-size: 1.5rem;
    }

    .shopPage .product-title h3{
        height: auto;
    }
}