/*思源黑*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*黑體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);*/
/*仿宋體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/
/*楷書*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);*/
/*明體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);*/
/*圓體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);*/
* {
    -webkit-text-size-adjust: none;
    outline: none;
    hlbr: expression(this.onFocus=this.blur());
}

html,
html *:not(i),
body,
body *:not(i) {
    font-family: Arial, "Open Sans", "微軟正黑體" !important;
}

label.error {
    display: none !important;
}

input.error,
textarea.error,
select.error {
    border: 1px solid #FF0000 !important;
    background-color: #ffeeee !important;
}

.transition *,
.transition:hover * {
    -o-transition: all .20s linear !important;
    -webkit-transition: all .20s linear !important;
    -moz-transition: all .20s linear !important;
    transition: all .20s linear !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 1s 0s ease;
    opacity: 0;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
}

.div-table img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-table.no-margin img {
    margin: 0;
}

#verifyImgCode {
    cursor: pointer;
}

.error404 {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.youtube_content {
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube_content {
    padding-bottom: 56.25%;
}

.youtube_content iframe,
.youtube_content object,
.youtube_content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.all-trans {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.all-trans:hover {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.overlybox {
    display: block;
    overflow: hidden;
}

.overlybox img {
    transition: all 0.5s;
}

.overlybox:hover img {
    transform: scale(1.4);
}

.fullTexty {
    text-align: justify;
    text-justify: auto;
}

.overflowTexty {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overflow_multi {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.noDisplay {
    display: none;
}

.spriteIMG {
    background-image: url(images/common_images/sprite.png);
    background-repeat: no-repeat;
}

#verifyImgCode {
    cursor: pointer;
}

/* This code is tested with latest version of Firefox and Chrome */
.image-shadow-box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    margin-bottom: 30px;
}

.image-shadow-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    left: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg) skew(-0deg);
    -moz-transform: rotate(-5deg) skew(-0deg);
    -ms-transform: rotate(-5deg) skew(-0deg);
    -o-transform: rotate(-5deg) skew(-0deg);
    transform: rotate(-5deg) skew(-0deg);
}

.image-shadow-box:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    right: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg) skew(0deg);
    -moz-transform: rotate(5deg) skew(0deg);
    -ms-transform: rotate(5deg) skew(0deg);
    -o-transform: rotate(5deg) skew(0deg);
    transform: rotate(5deg) skew(0deg);
}

.corner3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.corner4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.corner5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.corner6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.corner7px {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.corner8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.corner9px {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.corner10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.corner11px {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

/* margin bottom */
.cms_mb0 {
    margin-bottom: 0px;
}

.cms_mb10 {
    margin-bottom: 10px;
}

.cms_mb20 {
    margin-bottom: 20px;
}

.cms_mb30 {
    margin-bottom: 30px;
}

.cms_mb40 {
    margin-bottom: 40px;
}

.cms_mb50 {
    margin-bottom: 50px;
}

.cms_mb60 {
    margin-bottom: 60px;
}

.cms_mb70 {
    margin-bottom: 70px;
}

.cms_mb80 {
    margin-bottom: 80px;
}

.cms_mb90 {
    margin-bottom: 90px;
}

.cms_mb100 {
    margin-bottom: 100px;
}

.cms_mb110 {
    margin-bottom: 110px;
}

.cms_mb120 {
    margin-bottom: 120px;
}

/* margin top */
.cms_mt0 {
    margin-top: 0px;
}

.cms_mt10 {
    margin-top: 10px;
}

.cms_mt20 {
    margin-top: 20px;
}

.cms_mt30 {
    margin-top: 30px;
}

.cms_mt40 {
    margin-top: 40px;
}

.cms_mt50 {
    margin-top: 50px;
}

.cms_mt60 {
    margin-top: 60px;
}

.cms_mt70 {
    margin-top: 70px;
}

.cms_mt80 {
    margin-top: 80px;
}

.cms_mt90 {
    margin-top: 90px;
}

.cms_mt100 {
    margin-top: 100px;
}

.cms_mt110 {
    margin-top: 110px;
}

.cms_mt120 {
    margin-top: 120px;
}

/* margin left */
.cms_ml0 {
    margin-left: 0px;
}

.cms_ml10 {
    margin-left: 10px;
}

.cms_ml20 {
    margin-left: 20px;
}

.cms_ml30 {
    margin-left: 30px;
}

.cms_ml40 {
    margin-left: 40px;
}

.cms_ml50 {
    margin-left: 50px;
}

.cms_ml60 {
    margin-left: 60px;
}

.cms_ml70 {
    margin-left: 70px;
}

.cms_ml80 {
    margin-left: 80px;
}

.cms_ml90 {
    margin-left: 90px;
}

.cms_ml100 {
    margin-left: 100px;
}

.cms_ml110 {
    margin-left: 110px;
}

.cms_ml120 {
    margin-left: 120px;
}

/* margin right */
.cms_mr0 {
    margin-right: 0px;
}

.cms_mr10 {
    margin-right: 10px;
}

.cms_mr20 {
    margin-right: 20px;
}

.cms_mr30 {
    margin-right: 30px;
}

.cms_mr40 {
    margin-right: 40px;
}

.cms_mr50 {
    margin-right: 50px;
}

.cms_mr60 {
    margin-right: 60px;
}

.cms_mr70 {
    margin-right: 70px;
}

.cms_mr80 {
    margin-right: 80px;
}

.cms_mr90 {
    margin-right: 90px;
}

.cms_mr100 {
    margin-right: 100px;
}

.cms_mr110 {
    margin-right: 110px;
}

.cms_mr120 {
    margin-right: 120px;
}

/**** editor-area ****/
.editor-area {
    color: #000;
    text-align: justify;
}

.editor-area p {
    margin-bottom: 15px;
    color: #000;
    line-height: 28px;
    font-size: 16px;
    text-align: justify;
}

.editor-area p:last-child {
    margin-bottom: 0;
}

.editor-area img {
    margin-bottom: 15px;
}

.editor-area ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area ol {
    list-style-type: decimal;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area h1 {
    font-size: 36px;
}

.editor-area h2 {
    font-size: 30px;
}

.editor-area h3 {
    font-size: 24px;
}

.editor-area h4 {
    font-size: 18px;
}

.editor-area h5 {
    font-size: 14px;
}

.editor-area h6 {
    font-size: 12px;
}

.editor-area h1,
.editor-area h2,
.editor-area h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.editor-area h4,
.editor-area h5,
.editor-area h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.scrollup {
    width: 50px;
    display: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    background-color: #333333;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.scrollup:hover {
    background-color: #767676;
    color: #fff;
}

.blueimp-gallery>.indicator>li {
    background-size: cover;
}

.blueimp-gallery>.next,
.blueimp-gallery>.prev,
.blueimp-gallery>.close,
.blueimp-gallery>.title,
.blueimp-gallery>.indicator {
    display: block;
}

.blueImpGallery #links a {
    width: 200px;
    height: 150px;
    display: inline-block;
    text-align: center;
    margin: 7px;
}

.blueImpGallery #links a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/********** basic **********/
a {
    color: #004da1;
}

a:active ,
a:hover ,
a:focus {
    color: #022a56;
}

.fa {
    font-family: 'FontAwesome' !important;
}

.glyphicon {
    font-family: 'Glyphicons Halflings' !important;
}

.carousel-control.left ,
.carousel-control.right {
    background-image: none;
}

.im_a_main {
    padding: 80px 0;
}

.text-winter {
    color: #004da1;
}

.wt-post-title .post-title {
    text-transform: none;
    font-weight: 600;
}

.bg-winter {
    background-color: #004da1;
}

.section-head h2 {
    color: #004da1;
}

.text-white:hover {
    color: #dedddd;
}

.wt-breadcrumb li a:hover {
    color: #dedddd;
}

.bg-irongray {
    background-color: #383838;
}

.panel-heading {
    padding: 0;
}

.panel-title>.small,
.panel-title>.small>a,
.panel-title>a,
.panel-title>small,
.panel-title>small>a {
    display: block;
    padding: 10px 15px;
}

.pagination {
    padding-bottom: 0;
    margin-bottom: 0;
}

.news_view_sec .wt-post-title ,
.video_view_sec .wt-post-title {
    margin-bottom: 10px;
}

.news_view_sec .wt-post-meta li ,
.video_view_sec .wt-post-meta li ,
.portfolio_view_edit_sec .wt-post-meta li {
    font-size: 16px;
}

.editor-area ul.nav-tabs {
    padding: 0;
    margin: 0;
}

.editor-area .tab-pane {
    margin-top: 20px;
    margin-left: 15px;
}

.carousel-indicators {
    width: auto;
}

.fright {
    float: right;
}

.page-wraper {
    background: #000;
}

.prevnext {
    display: inline-block;
}

.prevnext.disabled a {
    background-color: #555;
    cursor: not-allowed;
}

.prevnext.disabled a:hover {
    background-color: #555;
}

.editor-area td ,
.editor-area th {
    font-size: 14px;
}

.home_news_sec .section-head h2 ,
.home_products_sec .section-head h2 ,
.home_about_sec .section-content h2 ,
.home_video_sec .section-head h2 {display: inline-block;}
.sub_header {font-size: 20px;padding-left: 10px;color: #145ba8;}

@media screen and (max-width: 991px){
    .wt-bnr-inr-entry .banner-title-outer {
        width: auto;
    }
}

@media screen and (min-width: 768px){
    .blueimp-gallery,
    .blueimp-gallery>.slides>.slide>.slide-content {
        top: 90px;
    }
}

@media screen and (max-width: 767px){
    .section-head {
        margin-bottom: 20px;
    }

    .section-head h2 {
        margin-bottom: 10px !important;
    }

    .blueimp-gallery,
    .blueimp-gallery>.slides>.slide>.slide-content {
        top: 70px;
    }

    .blueImpGallery #links a {
        width: 45%;
        height: auto;
    }

    .editor-area .nav-tabs > li {
        border-bottom: 1px solid #ddd;
    }
}

/********** header **********/
.header-nav .nav > li:hover > a {
    color: #004da1;
}

.header-nav .nav > li.active > a,
.header-nav .nav > li.current-menu-item > a {
    color: #004da1;
}

.header-nav .nav > li > a {
    font-size: 14px;
}

.site-search-btn {
    font-size: 16px;
}

.site-search-btn:hover {
    color: #004da1;
}

.top-bar .fa {
    border: none;
}

.social-bx li a {
    font-size: 16px;
}

.social-bx li a:hover {
    color: #004da1;
}

.extra-nav .extra-cell {
    padding-left: 0;
}

.social-bx,
.login-bx {
    margin: 0;
}

.social-bx li,
.login-bx li {
    margin-left: 15px;
    padding: 0;
}

.header-nav .nav > li > a {padding: 35px 20px;}

.header-nav .navbar-nav li a em {
    position: absolute;
    left: 20px;
    top: 0;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-style: normal;
    text-transform: none;
    white-space: nowrap;
}

.header-nav .navbar-nav li:hover a em {
    top: 35px;
    left: 20px;
    opacity: 1;
}

.header-nav .navbar-nav li:hover a span {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
}

.is-fixed.color-fill .header-nav .nav > li > a {padding: 25px 20px;}
.is-fixed.color-fill .header-nav .navbar-nav li:hover a em {top: 25px;}

@media (max-width: 1075px) and (min-width: 992px) {
    .is-fixed.color-fill .header-nav .nav > li > a {padding: 25px 13px;}
}

@media (max-width: 1060px) and (min-width: 992px) {
    .header-nav .nav > li > a {padding: 35px 13px;}
}

@media (max-width: 991px) {
    .header-nav .navbar-nav li a em {position: relative;left: 0;opacity: 1;display: block;text-transform: none;}
    .header-nav .navbar-nav li:hover a em {top: 0;left: 0;}
    .header-nav .navbar-nav li:hover a span {opacity: 1;transform: none;}
    .is-fixed.color-fill .header-nav .navbar-nav li:hover a em {top: 0;}
    .is-fixed.color-fill .header-nav .nav > li > a {padding: 10px 12px;}
}

/********** footer **********/
.footer-dark .footer-bottom {
    padding: 40px 0px;
}

.footer-dark.site-footer {
    border-top: none;
}

@media screen and (max-width: 991px){
    .site-footer {
        padding: 0px;
    }

    .copyright-block {
        padding-top: 15px;
    }
}

/********** home-about **********/
.home_about_sec .editor-area {
    padding: 80px 0 100px;
}

.m-carousel-1:after {
    top: 50px;
    left: -60px;
}

@media screen and (max-width: 991px) {
    .home_about_sec .editor-area {
        padding: 30px 0 40px;
    }
}

/********** home-products **********/
.line-amiation a.v-button {
    right: -20px;
}

.home_products_sec {
    padding: 80px;
}

.home_products_sec .line-amiation h2 {
    margin-top: 0;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 60px;
}

.home_products_sec .line-amiation p {
    margin-bottom: 0;

    /*overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 75px;*/
}

@media screen and (max-width: 991px) {
    .home_products_sec {
        padding-top: 30px;
    }

    .home_products_sec {
        padding: 30px 20px 20px;
    }
}

/********** home-social **********/
.home_social_sec .editor-area {
    padding: 80px 0;
}

@media screen and (max-width: 991px) {
    .home_social_sec .editor-area {
        padding: 30px 20px 0px;
    }
}

@media screen and (max-width: 480px) {
    .some-facts span {
        font-size: inherit;
    }
}

/********** home-news **********/
.home_news_sec {
    padding: 80px;
}

.wt-post-text {
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .home_news_sec {
        padding: 30px 20px 20px;
    }
}

/********** home-clients **********/
.home-client-carousel.owl-btn-center-v.owl-carousel .owl-nav .owl-prev ,
.home-client-carousel.owl-btn-center-v.owl-carousel .owl-nav .owl-next {
    background-color: #8a8a8a;
}

.home_clients_sec .section-content h2 {margin-bottom: 0;}
.home_clients_sec .sub_header {margin-bottom: 24px;color: #999;padding-left: 0;display: block;}

@media screen and (max-width: 767px) {
    .home_clients_sec h2 {
        margin-top: 0;
    }

    .home_clients_sec .wt-separator-outer {
        margin-bottom: 30px;
    }
}

/********** home-video **********/
.home_video_sec .editor-area {
    padding: 80px 0;
}

@media screen and (max-width: 991px) {
    .home_video_sec .editor-area {
        padding: 30px 20px 20px;
    }
}

/********** about **********/
.about_sec .section-content {
    padding-bottom: 50px;
}

@media screen and (max-width: 991px) {
    .about_sec .section-content {
        padding-bottom: 0px;
    }
}

/********** news-list **********/
.im_a_main.news_list_sec {
    padding: 80px;
}

@media screen and (max-width: 991px) {
    .im_a_main.news_list_sec {
        padding: 50px 20px;
    }
}

/********** video-list **********/
.video_list_sec .wt-post-text p {
    font-size: 14px;
    margin-bottom: 15px;
}

.video_list_sec .wt-post-info a.v-button {
    font-size: 14px;
}

/********** products-list **********/
.products_list_sec .line-amiation h2 {
    margin-top: 0;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 60px;
}

.products_list_sec .line-amiation p {
    margin-bottom: 0;

    /*overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 75px;*/
}

/********** portfolio-list **********/
.sidebar-nav li {
    list-style: none;
}

.main {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 16px;
}

ul.subs li a {
    display: block;
    padding: 10px 20px;
    background-color: #F5F5F5;
    font-size: 14px;
    font-weight: bold;
}

.bg-sidebar:nth-child(odd) .main {
    background-color: #004da1;
    color: #fff;
    border-right: solid 10px #85acd6;
}

.bg-sidebar:nth-child(even) .main {
    background-color: #3e64a5;
    color: #fff;
    border-right: solid 10px #b0caf7;
}

.bg-sidebar:nth-child(odd) .rollover {
    background-color: #004da1;
}

.bg-sidebar:nth-child(even) .rollover {
    background-color: #3e64a5;
}

.bg-sidebar:nth-child(odd) ul.subs li a {
    border-right: solid 10px #85acd6;
    color: #85acd6;
}

.bg-sidebar:nth-child(even) ul.subs li a {
    border-right: solid 10px #b0caf7;
    color: #3e64a5;
}

.bg-sidebar:nth-child(odd) ul.subs li a:hover {
    background-color: #85acd6;
    color: #fff;
}

.bg-sidebar:nth-child(even) ul.subs li a:hover {
    background-color: #b0caf7;
    color: #fff;
}

.flexdad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexson {
    width: 49%;
    float: left;
}

.portfolio_list_sec .post-title a {
    color: #004da1;
}

.portfolio_list_sec .post-title a:hover {
    color: #022a56;
}

.portfolio_list_sec .wt-post-text p {
    font-size: 14px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .flexson {
        width: 100%;
    }
}

/********** contact **********/
.cm-sex {
    display: inline-block !important;
    margin-right: 10px;
    margin-top: 7px;
}

label.control-label {
    display: block;
    clear: both;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    position: absolute;
    margin-left: -20px;
}

.radio input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.radio input:checked + .outer {
    border-width: 2px;
    border-style: solid;
    border-color: #004da1;
    background: #004da1;
}

.radio .outer {
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    margin: 2px 7px 0 0;
    border-width: 2px;
    border-style: solid;
    border-color: #e9e9e9;
    border-radius: 50%;
    background-color: #fff;
}

.radio input:checked + .outer .inner {
    background-color: #fff;
    opacity: 1;
}

.radio .inner {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 7px;
    height: 7px;
    display: block;
    margin: 2px;
    border-radius: 50%;
    opacity: 0;
    position: relative;
}

#capcha_image {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}

#capcha_image:after {
    content: "\f021";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    left: auto;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent;
    cursor: not-allowed;
}

/********** warning-box **********/
.footer-fixed .page-content {
    margin-bottom: 72px;
}

#warningBox {
    width: 100%;
    z-index: 2;
}

#warningBox .warn {
    letter-spacing: 3px;
    background-color: #000;
    padding: 15px 0;
    color: #fff;
    line-height: normal;
}

#warningBox .warn span {
    display: flex;
    justify-content: center;
    align-items: center;
}

#warningBox .warn b {
    margin: 0 10px;
}

@media (min-width: 768px) {
    #warningBox .warn {
        font-size: 24px;
        letter-spacing: 10px;
    }
    #warningBox .warn img {margin-right: 10px;}
}

@media (min-width: 1024px) {
    #warningBox .warn {
        font-size: 30px;
        letter-spacing: 20px;
    }
    #warningBox .warn img {margin-right: 20px;}
}

@media (max-width: 767px) {
    #warningBox .warn {
        font-size: 16px;
    }

    #warningBox .warn b {
        margin: 0 3px;
    }
}