@charset "utf-8";
/* CSS Document */
body {
	font-family: Arial, "微軟正黑體";
}
.no_print {
	display: none;
}
.printBtn-section {
	text-align: center;
	width: 100%;
}
.printBtn-section button {
	margin-right: 10px;
	margin-left: 10px;
}
.print-section {
	padding-top: 20px;
	padding-bottom: 20px;

}