/*思源黑*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*黑體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);*/
/*仿宋體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/
/*楷書*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);*/
/*明體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);*/
/*圓體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);*/

* {
    -webkit-text-size-adjust: none;
    outline: none;
    hlbr: expression(this.onFocus=this.blur());
}

html,
html *:not(i),
body,
body *:not(i) {
    font-family: Arial, "Open Sans", "微軟正黑體" !important;
}

label.error {
    display: none !important;
}

input.error,
textarea.error,
select.error {
    border: 1px solid #FF0000;
    background-color: #ffeeee;
}

.transition *,
.transition:hover * {
    -o-transition: all .20s linear !important;
    -webkit-transition: all .20s linear !important;
    -moz-transition: all .20s linear !important;
    transition: all .20s linear !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.5s 0s ease;
    opacity: 0;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
}

.div-table img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-table.no-margin img {
    margin: 0;
}

#verifyImgCode {
    cursor: pointer;
}

.error404 {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.youtube_content {
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube_content {
    padding-bottom: 56.25%;
}

.youtube_content iframe,
.youtube_content object,
.youtube_content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.all-trans:hover {
    -o-transition: all .20s linear !important;
    -webkit-transition: all .20s linear !important;
    -moz-transition: all .20s linear !important;
    transition: all .20s linear !important;
}

.overlybox {
    display: block;
    overflow: hidden;
}

.overlybox img {
    transition: all 0.6s;
}

.overlybox:hover img {
    transform: scale(1.4);
}

.fullTexty {
    text-align: justify;
    text-justify: auto;
}

.overflowTexty {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.noDisplay {
    display: none;
}

.spriteIMG {
    background-image: url(images/common_images/sprite.png);
    background-repeat: no-repeat;
}

#verifyImgCode {
    cursor: pointer;
}



/* This code is tested with latest version of Firefox and Chrome */

.image-shadow-box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    margin-bottom: 30px;
}

.image-shadow-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    left: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg) skew(-0deg);
    -moz-transform: rotate(-5deg) skew(-0deg);
    -ms-transform: rotate(-5deg) skew(-0deg);
    -o-transform: rotate(-5deg) skew(-0deg);
    transform: rotate(-5deg) skew(-0deg);
}

.image-shadow-box:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    right: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg) skew(0deg);
    -moz-transform: rotate(5deg) skew(0deg);
    -ms-transform: rotate(5deg) skew(0deg);
    -o-transform: rotate(5deg) skew(0deg);
    transform: rotate(5deg) skew(0deg);
}

.corner3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.corner4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.corner5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.corner6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.corner7px {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.corner8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.corner9px {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.corner10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.corner11px {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}



/* margin bottom */

.cms_mb0 {
    margin-bottom: 0px;
}

.cms_mb10 {
    margin-bottom: 10px;
}

.cms_mb20 {
    margin-bottom: 20px;
}

.cms_mb30 {
    margin-bottom: 30px;
}

.cms_mb40 {
    margin-bottom: 40px;
}

.cms_mb50 {
    margin-bottom: 50px;
}

.cms_mb60 {
    margin-bottom: 60px;
}

.cms_mb70 {
    margin-bottom: 70px;
}

.cms_mb80 {
    margin-bottom: 80px;
}

.cms_mb90 {
    margin-bottom: 90px;
}

.cms_mb100 {
    margin-bottom: 100px;
}

.cms_mb110 {
    margin-bottom: 110px;
}

.cms_mb120 {
    margin-bottom: 120px;
}



/* margin top */

.cms_mt0 {
    margin-top: 0px;
}

.cms_mt10 {
    margin-top: 10px;
}

.cms_mt20 {
    margin-top: 20px;
}

.cms_mt30 {
    margin-top: 30px;
}

.cms_mt40 {
    margin-top: 40px;
}

.cms_mt50 {
    margin-top: 50px;
}

.cms_mt60 {
    margin-top: 60px;
}

.cms_mt70 {
    margin-top: 70px;
}

.cms_mt80 {
    margin-top: 80px;
}

.cms_mt90 {
    margin-top: 90px;
}

.cms_mt100 {
    margin-top: 100px;
}

.cms_mt110 {
    margin-top: 110px;
}

.cms_mt120 {
    margin-top: 120px;
}



/* margin left */

.cms_ml0 {
    margin-left: 0px;
}

.cms_ml10 {
    margin-left: 10px;
}

.cms_ml20 {
    margin-left: 20px;
}

.cms_ml30 {
    margin-left: 30px;
}

.cms_ml40 {
    margin-left: 40px;
}

.cms_ml50 {
    margin-left: 50px;
}

.cms_ml60 {
    margin-left: 60px;
}

.cms_ml70 {
    margin-left: 70px;
}

.cms_ml80 {
    margin-left: 80px;
}

.cms_ml90 {
    margin-left: 90px;
}

.cms_ml100 {
    margin-left: 100px;
}

.cms_ml110 {
    margin-left: 110px;
}

.cms_ml120 {
    margin-left: 120px;
}



/* margin right */

.cms_mr0 {
    margin-right: 0px;
}

.cms_mr10 {
    margin-right: 10px;
}

.cms_mr20 {
    margin-right: 20px;
}

.cms_mr30 {
    margin-right: 30px;
}

.cms_mr40 {
    margin-right: 40px;
}

.cms_mr50 {
    margin-right: 50px;
}

.cms_mr60 {
    margin-right: 60px;
}

.cms_mr70 {
    margin-right: 70px;
}

.cms_mr80 {
    margin-right: 80px;
}

.cms_mr90 {
    margin-right: 90px;
}

.cms_mr100 {
    margin-right: 100px;
}

.cms_mr110 {
    margin-right: 110px;
}

.cms_mr120 {
    margin-right: 120px;
}

/**** editor-area ****/

.editor-area p {
    margin-bottom: 15px;
    color: #000;
    line-height: 36px;
    font-size: 18px;
}

.editor-area {
    color: #000;
}

.editor-area img {
    margin-bottom: 15px;
}

.editor-area ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area ol {
    list-style-type: decimal;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area h1 {
    font-size: 36px;
}

.editor-area h2 {
    font-size: 30px;
}

.editor-area h3 {
    font-size: 24px;
}

.editor-area h4 {
    font-size: 18px;
}

.editor-area h5 {
    font-size: 14px;
}

.editor-area h6 {
    font-size: 12px;
}

.editor-area h1,
.editor-area h2,
.editor-area h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.editor-area h4,
.editor-area h5,
.editor-area h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}