/*思源黑*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

/*黑體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);*/

/*仿宋體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/

/*楷書*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);*/

/*明體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);*/

/*圓體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);*/

* {
    -webkit-text-size-adjust: none;
    outline: none;
    hlbr: expression(this.onFocus=this.blur());
}

html,
html *:not(i),
body,
body *:not(i) {
    font-family: 'Libre Baskerville', Arial, "Open Sans", "微軟正黑體", "Microsoft JhengHei" !important;
}

label.error {
    display: none !important;
}

input.error,
textarea.error,
select.error {
    border: 1px solid #FF0000 !important;
    background-color: #ffeeee !important;
}

.transition *,
.transition:hover * {
    -o-transition: all .20s linear !important;
    -webkit-transition: all .20s linear !important;
    -moz-transition: all .20s linear !important;
    transition: all .20s linear !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 1s 0s ease;
    opacity: 0;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
}

.div-table img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-table.no-margin img {
    margin: 0;
}

#verifyImgCode {
    cursor: pointer;
}

.error404 {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.youtube_content {
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube_content {
    padding-bottom: 56.25%;
}

.youtube_content iframe,
.youtube_content object,
.youtube_content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.all-trans {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.all-trans:hover {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.overlybox {
    display: block;
    overflow: hidden;
}

.overlybox img {
    transition: all 0.5s;
}

.overlybox:hover img {
    transform: scale(1.4);
}

.fullTexty {
    text-align: justify;
    text-justify: auto;
}

.overflowTexty {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.overflow_multi {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.noDisplay {
    display: none;
}

.spriteIMG {
    background-image: url(images/common_images/sprite.png);
    background-repeat: no-repeat;
}

#verifyImgCode {
    cursor: pointer;
}


/* This code is tested with latest version of Firefox and Chrome */

.image-shadow-box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    margin-bottom: 30px;
}

.image-shadow-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    left: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg) skew(-0deg);
    -moz-transform: rotate(-5deg) skew(-0deg);
    -ms-transform: rotate(-5deg) skew(-0deg);
    -o-transform: rotate(-5deg) skew(-0deg);
    transform: rotate(-5deg) skew(-0deg);
}

.image-shadow-box:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    right: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg) skew(0deg);
    -moz-transform: rotate(5deg) skew(0deg);
    -ms-transform: rotate(5deg) skew(0deg);
    -o-transform: rotate(5deg) skew(0deg);
    transform: rotate(5deg) skew(0deg);
}

.corner3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.corner4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.corner5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.corner6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.corner7px {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.corner8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.corner9px {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.corner10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.corner11px {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}




/* margin bottom */

.cms_mb0 {
    margin-bottom: 0px;
}

.cms_mb10 {
    margin-bottom: 10px;
}

.cms_mb20 {
    margin-bottom: 20px;
}

.cms_mb30 {
    margin-bottom: 30px;
}

.cms_mb40 {
    margin-bottom: 40px;
}

.cms_mb50 {
    margin-bottom: 50px;
}

.cms_mb60 {
    margin-bottom: 60px;
}

.cms_mb70 {
    margin-bottom: 70px;
}

.cms_mb80 {
    margin-bottom: 80px;
}

.cms_mb90 {
    margin-bottom: 90px;
}

.cms_mb100 {
    margin-bottom: 100px;
}

.cms_mb110 {
    margin-bottom: 110px;
}

.cms_mb120 {
    margin-bottom: 120px;
}




/* margin top */

.cms_mt0 {
    margin-top: 0px;
}

.cms_mt10 {
    margin-top: 10px;
}

.cms_mt20 {
    margin-top: 20px;
}

.cms_mt30 {
    margin-top: 30px;
}

.cms_mt40 {
    margin-top: 40px;
}

.cms_mt50 {
    margin-top: 50px;
}

.cms_mt60 {
    margin-top: 60px;
}

.cms_mt70 {
    margin-top: 70px;
}

.cms_mt80 {
    margin-top: 80px;
}

.cms_mt90 {
    margin-top: 90px;
}

.cms_mt100 {
    margin-top: 100px;
}

.cms_mt110 {
    margin-top: 110px;
}

.cms_mt120 {
    margin-top: 120px;
}




/* margin left */

.cms_ml0 {
    margin-left: 0px;
}

.cms_ml10 {
    margin-left: 10px;
}

.cms_ml20 {
    margin-left: 20px;
}

.cms_ml30 {
    margin-left: 30px;
}

.cms_ml40 {
    margin-left: 40px;
}

.cms_ml50 {
    margin-left: 50px;
}

.cms_ml60 {
    margin-left: 60px;
}

.cms_ml70 {
    margin-left: 70px;
}

.cms_ml80 {
    margin-left: 80px;
}

.cms_ml90 {
    margin-left: 90px;
}

.cms_ml100 {
    margin-left: 100px;
}

.cms_ml110 {
    margin-left: 110px;
}

.cms_ml120 {
    margin-left: 120px;
}




/* margin right */

.cms_mr0 {
    margin-right: 0px;
}

.cms_mr10 {
    margin-right: 10px;
}

.cms_mr20 {
    margin-right: 20px;
}

.cms_mr30 {
    margin-right: 30px;
}

.cms_mr40 {
    margin-right: 40px;
}

.cms_mr50 {
    margin-right: 50px;
}

.cms_mr60 {
    margin-right: 60px;
}

.cms_mr70 {
    margin-right: 70px;
}

.cms_mr80 {
    margin-right: 80px;
}

.cms_mr90 {
    margin-right: 90px;
}

.cms_mr100 {
    margin-right: 100px;
}

.cms_mr110 {
    margin-right: 110px;
}

.cms_mr120 {
    margin-right: 120px;
}


/**** editor-area ****/

.editor-area {
    color: #000;
    text-align: justify;
}

.editor-area p {
    margin-bottom: 15px;
    color: #000;
    line-height: 28px;
    font-size: 16px;
    text-align: justify;
}

.editor-area p:last-child {
    margin-bottom: 0;
}


.editor-area img {
    margin-bottom: 15px;
}

.editor-area ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area ol {
    list-style-type: decimal;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area h1 {
    font-size: 36px;
}

.editor-area h2 {
    font-size: 30px;
}

.editor-area h3 {
    font-size: 24px;
}

.editor-area h4 {
    font-size: 18px;
}

.editor-area h5 {
    font-size: 14px;
}

.editor-area h6 {
    font-size: 12px;
}

.editor-area h1,
.editor-area h2,
.editor-area h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.editor-area h4,
.editor-area h5,
.editor-area h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}


.scrollup {
    width: 50px;
    display: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    background-color: #333333;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.scrollup:hover {
    background-color: #767676;
    color: #fff;
}
.blueimp-gallery>.indicator>li {
    background-size: cover;
}
.blueimp-gallery>.next,
.blueimp-gallery>.prev,
.blueimp-gallery>.close,
.blueimp-gallery>.title,
.blueimp-gallery>.indicator {
    display: block;
}
.blueImpGallery #links a {
    width: 200px;
    height: 150px;
    display: inline-block;
    text-align: center;
    margin: 7px;
}
.blueImpGallery #links a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

/* ---------- basic ---------- */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../fonts/glyphicons-halflings-regular.eot');
    src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings' !important;font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.glyphicon-asterisk:before {content: "\002a";}
.glyphicon-plus:before {content: "\002b";}
.glyphicon-euro:before,.glyphicon-eur:before {content: "\20ac";}
.glyphicon-minus:before {content: "\2212";}
.glyphicon-cloud:before {content: "\2601";}
.glyphicon-envelope:before {content: "\2709";}
.glyphicon-pencil:before {content: "\270f";}
.glyphicon-glass:before {content: "\e001";}
.glyphicon-music:before {content: "\e002";}
.glyphicon-search:before {content: "\e003";}
.glyphicon-heart:before {content: "\e005";}
.glyphicon-star:before {content: "\e006";}
.glyphicon-star-empty:before {content: "\e007";}
.glyphicon-user:before {content: "\e008";}
.glyphicon-film:before {content: "\e009";}
.glyphicon-th-large:before {content: "\e010";}
.glyphicon-th:before {content: "\e011";}
.glyphicon-th-list:before {content: "\e012";}
.glyphicon-ok:before {content: "\e013";}
.glyphicon-remove:before {content: "\e014";}
.glyphicon-zoom-in:before {content: "\e015";}
.glyphicon-zoom-out:before {content: "\e016";}
.glyphicon-off:before {content: "\e017";}
.glyphicon-signal:before {content: "\e018";}
.glyphicon-cog:before {content: "\e019";}
.glyphicon-trash:before {content: "\e020";}
.glyphicon-home:before {content: "\e021";}
.glyphicon-file:before {content: "\e022";}
.glyphicon-time:before {content: "\e023";}
.glyphicon-road:before {content: "\e024";}
.glyphicon-download-alt:before {content: "\e025";}
.glyphicon-download:before {content: "\e026";}
.glyphicon-upload:before {content: "\e027";}
.glyphicon-inbox:before {content: "\e028";}
.glyphicon-play-circle:before {content: "\e029";}
.glyphicon-repeat:before {content: "\e030";}
.glyphicon-refresh:before {content: "\e031";}
.glyphicon-list-alt:before {content: "\e032";}
.glyphicon-lock:before {content: "\e033";}
.glyphicon-flag:before {content: "\e034";}
.glyphicon-headphones:before {content: "\e035";}
.glyphicon-volume-off:before {content: "\e036";}
.glyphicon-volume-down:before {content: "\e037";}
.glyphicon-volume-up:before {content: "\e038";}
.glyphicon-qrcode:before {content: "\e039";}
.glyphicon-barcode:before {content: "\e040";}
.glyphicon-tag:before {content: "\e041";}
.glyphicon-tags:before {content: "\e042";}
.glyphicon-book:before {content: "\e043";}
.glyphicon-bookmark:before {content: "\e044";}
.glyphicon-print:before {content: "\e045";}
.glyphicon-camera:before {content: "\e046";}
.glyphicon-font:before {content: "\e047";}
.glyphicon-bold:before {content: "\e048";}
.glyphicon-italic:before {content: "\e049";}
.glyphicon-text-height:before {content: "\e050";}
.glyphicon-text-width:before {content: "\e051";}
.glyphicon-align-left:before {content: "\e052";}
.glyphicon-align-center:before {content: "\e053";}
.glyphicon-align-right:before {content: "\e054";}
.glyphicon-align-justify:before {content: "\e055";}
.glyphicon-list:before {content: "\e056";}
.glyphicon-indent-left:before {content: "\e057";}
.glyphicon-indent-right:before {content: "\e058";}
.glyphicon-facetime-video:before {content: "\e059";}
.glyphicon-picture:before {content: "\e060";}
.glyphicon-map-marker:before {content: "\e062";}
.glyphicon-adjust:before {content: "\e063";}
.glyphicon-tint:before {content: "\e064";}
.glyphicon-edit:before {content: "\e065";}
.glyphicon-share:before {content: "\e066";}
.glyphicon-check:before {content: "\e067";}
.glyphicon-move:before {content: "\e068";}
.glyphicon-step-backward:before {content: "\e069";}
.glyphicon-fast-backward:before {content: "\e070";}
.glyphicon-backward:before {content: "\e071";}
.glyphicon-play:before {content: "\e072";}
.glyphicon-pause:before {content: "\e073";}
.glyphicon-stop:before {content: "\e074";}
.glyphicon-forward:before {content: "\e075";}
.glyphicon-fast-forward:before {content: "\e076";}
.glyphicon-step-forward:before {content: "\e077";}
.glyphicon-eject:before {content: "\e078";}
.glyphicon-chevron-left:before {content: "\e079";}
.glyphicon-chevron-right:before {content: "\e080";}
.glyphicon-plus-sign:before {content: "\e081";}
.glyphicon-minus-sign:before {content: "\e082";}
.glyphicon-remove-sign:before {content: "\e083";}
.glyphicon-ok-sign:before {content: "\e084";}
.glyphicon-question-sign:before {content: "\e085";}
.glyphicon-info-sign:before {content: "\e086";}
.glyphicon-screenshot:before {content: "\e087";}
.glyphicon-remove-circle:before {content: "\e088";}
.glyphicon-ok-circle:before {content: "\e089";}
.glyphicon-ban-circle:before {content: "\e090";}
.glyphicon-arrow-left:before {content: "\e091";}
.glyphicon-arrow-right:before {content: "\e092";}
.glyphicon-arrow-up:before {content: "\e093";}
.glyphicon-arrow-down:before {content: "\e094";}
.glyphicon-share-alt:before {content: "\e095";}
.glyphicon-resize-full:before {content: "\e096";}
.glyphicon-resize-small:before {content: "\e097";}
.glyphicon-exclamation-sign:before {content: "\e101";}
.glyphicon-gift:before {content: "\e102";}
.glyphicon-leaf:before {content: "\e103";}
.glyphicon-fire:before {content: "\e104";}
.glyphicon-eye-open:before {content: "\e105";}
.glyphicon-eye-close:before {content: "\e106";}
.glyphicon-warning-sign:before {content: "\e107";}
.glyphicon-plane:before {content: "\e108";}
.glyphicon-calendar:before {content: "\e109";}
.glyphicon-random:before {content: "\e110";}
.glyphicon-comment:before {content: "\e111";}
.glyphicon-magnet:before {content: "\e112";}
.glyphicon-chevron-up:before {content: "\e113";}
.glyphicon-chevron-down:before {content: "\e114";}
.glyphicon-retweet:before {content: "\e115";}
.glyphicon-shopping-cart:before {content: "\e116";}
.glyphicon-folder-close:before {content: "\e117";}
.glyphicon-folder-open:before {content: "\e118";}
.glyphicon-resize-vertical:before {content: "\e119";}
.glyphicon-resize-horizontal:before {content: "\e120";}
.glyphicon-hdd:before {content: "\e121";}
.glyphicon-bullhorn:before {content: "\e122";}
.glyphicon-bell:before {content: "\e123";}
.glyphicon-certificate:before {content: "\e124";}
.glyphicon-thumbs-up:before {content: "\e125";}
.glyphicon-thumbs-down:before {content: "\e126";}
.glyphicon-hand-right:before {content: "\e127";}
.glyphicon-hand-left:before {content: "\e128";}
.glyphicon-hand-up:before {content: "\e129";}
.glyphicon-hand-down:before {content: "\e130";}
.glyphicon-circle-arrow-right:before {content: "\e131";}
.glyphicon-circle-arrow-left:before {content: "\e132";}
.glyphicon-circle-arrow-up:before {content: "\e133";}
.glyphicon-circle-arrow-down:before {content: "\e134";}
.glyphicon-globe:before {content: "\e135";}
.glyphicon-wrench:before {content: "\e136";}
.glyphicon-tasks:before {content: "\e137";}
.glyphicon-filter:before {content: "\e138";}
.glyphicon-briefcase:before {content: "\e139";}
.glyphicon-fullscreen:before {content: "\e140";}
.glyphicon-dashboard:before {content: "\e141";}
.glyphicon-paperclip:before {content: "\e142";}
.glyphicon-heart-empty:before {content: "\e143";}
.glyphicon-link:before {content: "\e144";}
.glyphicon-phone:before {content: "\e145";}
.glyphicon-pushpin:before {content: "\e146";}
.glyphicon-usd:before {content: "\e148";}
.glyphicon-gbp:before {content: "\e149";}
.glyphicon-sort:before {content: "\e150";}
.glyphicon-sort-by-alphabet:before {content: "\e151";}
.glyphicon-sort-by-alphabet-alt:before {content: "\e152";}
.glyphicon-sort-by-order:before {content: "\e153";}
.glyphicon-sort-by-order-alt:before {content: "\e154";}
.glyphicon-sort-by-attributes:before {content: "\e155";}
.glyphicon-sort-by-attributes-alt:before {content: "\e156";}
.glyphicon-unchecked:before {content: "\e157";}
.glyphicon-expand:before {content: "\e158";}
.glyphicon-collapse-down:before {content: "\e159";}
.glyphicon-collapse-up:before {content: "\e160";}
.glyphicon-log-in:before {content: "\e161";}
.glyphicon-flash:before {content: "\e162";}
.glyphicon-log-out:before {content: "\e163";}
.glyphicon-new-window:before {content: "\e164";}
.glyphicon-record:before {content: "\e165";}
.glyphicon-save:before {content: "\e166";}
.glyphicon-open:before {content: "\e167";}
.glyphicon-saved:before {content: "\e168";}
.glyphicon-import:before {content: "\e169";}
.glyphicon-export:before {content: "\e170";}
.glyphicon-send:before {content: "\e171";}
.glyphicon-floppy-disk:before {content: "\e172";}
.glyphicon-floppy-saved:before {content: "\e173";}
.glyphicon-floppy-remove:before {content: "\e174";}
.glyphicon-floppy-save:before {content: "\e175";}
.glyphicon-floppy-open:before {content: "\e176";}
.glyphicon-credit-card:before {content: "\e177";}
.glyphicon-transfer:before {content: "\e178";}
.glyphicon-cutlery:before {content: "\e179";}
.glyphicon-header:before {content: "\e180";}
.glyphicon-compressed:before {content: "\e181";}
.glyphicon-earphone:before {content: "\e182";}
.glyphicon-phone-alt:before {content: "\e183";}
.glyphicon-tower:before {content: "\e184";}
.glyphicon-stats:before {content: "\e185";}
.glyphicon-sd-video:before {content: "\e186";}
.glyphicon-hd-video:before {content: "\e187";}
.glyphicon-subtitles:before {content: "\e188";}
.glyphicon-sound-stereo:before {content: "\e189";}
.glyphicon-sound-dolby:before {content: "\e190";}
.glyphicon-sound-5-1:before {content: "\e191";}
.glyphicon-sound-6-1:before {content: "\e192";}
.glyphicon-sound-7-1:before {content: "\e193";}
.glyphicon-copyright-mark:before {content: "\e194";}
.glyphicon-registration-mark:before {content: "\e195";}
.glyphicon-cloud-download:before {content: "\e197";}
.glyphicon-cloud-upload:before {content: "\e198";}
.glyphicon-tree-conifer:before {content: "\e199";}
.glyphicon-tree-deciduous:before {content: "\e200";}
.glyphicon-cd:before {content: "\e201";}
.glyphicon-save-file:before {content: "\e202";}
.glyphicon-open-file:before {content: "\e203";}
.glyphicon-level-up:before {content: "\e204";}
.glyphicon-copy:before {content: "\e205";}
.glyphicon-paste:before {content: "\e206";}
.glyphicon-alert:before {content: "\e209";}
.glyphicon-equalizer:before {content: "\e210";}
.glyphicon-king:before {content: "\e211";}
.glyphicon-queen:before {content: "\e212";}
.glyphicon-pawn:before {content: "\e213";}
.glyphicon-bishop:before {content: "\e214";}
.glyphicon-knight:before {content: "\e215";}
.glyphicon-baby-formula:before {content: "\e216";}
.glyphicon-tent:before {content: "\26fa";}
.glyphicon-blackboard:before {content: "\e218";}
.glyphicon-bed:before {content: "\e219";}
.glyphicon-apple:before {content: "\f8ff";}
.glyphicon-erase:before {content: "\e221";}
.glyphicon-hourglass:before {content: "\231b";}
.glyphicon-lamp:before {content: "\e223";}
.glyphicon-duplicate:before {content: "\e224";}
.glyphicon-piggy-bank:before {content: "\e225";}
.glyphicon-scissors:before {content: "\e226";}
.glyphicon-bitcoin:before {content: "\e227";}
.glyphicon-btc:before {content: "\e227";}
.glyphicon-xbt:before {content: "\e227";}
.glyphicon-yen:before {content: "\00a5";}
.glyphicon-jpy:before {content: "\00a5";}
.glyphicon-ruble:before {content: "\20bd";}
.glyphicon-rub:before {content: "\20bd";}
.glyphicon-scale:before {content: "\e230";}
.glyphicon-ice-lolly:before {content: "\e231";}
.glyphicon-ice-lolly-tasted:before {content: "\e232";}
.glyphicon-education:before {content: "\e233";}
.glyphicon-option-horizontal:before {content: "\e234";}
.glyphicon-option-vertical:before {content: "\e235";}
.glyphicon-menu-hamburger:before {content: "\e236";}
.glyphicon-modal-window:before {content: "\e237";}
.glyphicon-oil:before {content: "\e238";}
.glyphicon-grain:before {content: "\e239";}
.glyphicon-sunglasses:before {content: "\e240";}
.glyphicon-text-size:before {content: "\e241";}
.glyphicon-text-color:before {content: "\e242";}
.glyphicon-text-background:before {content: "\e243";}
.glyphicon-object-align-top:before {content: "\e244";}
.glyphicon-object-align-bottom:before {content: "\e245";}
.glyphicon-object-align-horizontal:before {content: "\e246";}
.glyphicon-object-align-left:before {content: "\e247";}
.glyphicon-object-align-vertical:before {content: "\e248";}
.glyphicon-object-align-right:before {content: "\e249";}
.glyphicon-triangle-right:before {content: "\e250";}
.glyphicon-triangle-left:before {content: "\e251";}
.glyphicon-triangle-bottom:before {content: "\e252";}
.glyphicon-triangle-top:before {content: "\e253";}
.glyphicon-console:before {content: "\e254";}
.glyphicon-superscript:before {content: "\e255";}
.glyphicon-subscript:before {content: "\e256";}
.glyphicon-menu-left:before {content: "\e257";}
.glyphicon-menu-right:before {content: "\e258";}
.glyphicon-menu-down:before {content: "\e259";}
.glyphicon-menu-up:before {content: "\e260";}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {border: 1px solid #dddddd;border-bottom-color: transparent;}
.carousel-control.left , .carousel-control.right {background-image: none;}
.panel-heading {padding: 0;}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {display: block;padding: 10px 15px;}
.editor-area ul.nav-tabs {padding: 0;margin: 0;}
.editor-area .tab-pane {margin-top: 20px;margin-left: 15px;}
.carousel-indicators {width: auto;}
#preloader:after {background-image: url(../../../images/assets/loader.gif);}
.list-nav .pagination {width: 100%;}
.pagination > li > a {font-size: 16px;text-transform: none;}
.pagination .disabled a {cursor: not-allowed !important;}
.pagination .disabled a:hover {color: #969696 !important;}
.pagination .next > a {float: right;}
.icon-box.disabled , .icon-box.disabled a {transition: none!important;cursor: not-allowed !important;animation: none !important;transform: none !important;}
.icon-box.disabled a , .icon-box.disabled a:hover {color: #969696 !important;}
.pagination.justify-content-center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.pagination .page-item.active a {color: #bf9625 !important;}
@media screen and (min-width: 768px){
    .blueimp-gallery, .blueimp-gallery>.slides>.slide>.slide-content {top: 60px;}
}
@media screen and (max-width: 767px){
    .blueimp-gallery, .blueimp-gallery>.slides>.slide>.slide-content {top: 60px;}
    .blueImpGallery #links a {width: 45%;height: auto;}
    .editor-area .nav-tabs > li {border-bottom: 1px solid #ddd;}
}
/* ---------- icon ---------- */
.fa , .maso-order i, .fa-search, .mfp-preloader, .fa-bookmark, .fa-pencil,
.album-title .btn .fa, .bootgrid-table thead .fa, .side-menu .fa.arrow,
.fa-share-alt, .pagination .fa-angle-left, .pagination .fa-angle-right,
.fa-calendar, .fa-angle-up.scroll-top, .adv-img-button-content .caption i, .popup-close, .side-menu .plus-times,
.dropdown-submenu > a:after, .hamburger-button i:before,
.fa-angle-double-left, .fa-angle-double-right, .fa-angle-down, .fa-comment-o, 
.advs-box .btn .fa-long-arrow-right, .adv-img .btn .fa-long-arrow-right:before, .box-steps .step-item:after {font-family: 'FontAwesome'!important;}
.scroll-top-mobile:before {content: "\ea29" !important;}
.im-magnifi-glass2:before, .fa-search:before {content: "\ea6f" !important;}
.fa-angle-left:before {content: "\f104" !important;}
.pagination .fa {
    font-size: 16px;
    transform: none;
}
.search-box-menu .btn .fa-search {font-family: 'icomoon' !important;font-weight: bold;}
/* ---------- header ---------- */
header .nav > li > a {
    letter-spacing: normal;
    font-size: 15px;
    text-transform: none;
}
header .navbar-nav .dropdown li > a {font-size: 14px;}
header.scroll-css .navbar-brand {padding: 3px 15px;}
header.scroll-css .nav > li > a {font-size: 15px;}
header .login_btn {
    border: none;
    font-size: 22px;
    margin-top: 31px;
    padding-bottom: 8px;
    transition: none !important;
    box-shadow: none !important;
}
header.scroll-css .navbar-main .login_btn {
    margin-top: 20px;
    transition: none;
    background: none !important;
}
header .navbar-right > .lan-menu {padding-left: 0;}
header .navbar-default .lan-menu li a {
    font-size: 22px;
    margin: 31px 0 30px;
    padding: 0 15px 8px;
}
header.scroll-css .navbar-default .lan-menu li a {font-size: 22px; margin-top: 20px;margin-bottom: 10px;}
.lan-menu .dropdown-menu {
    top: 91px;
    float: none;
    text-align: center;
}
.lan-menu .dropdown .dropdown-menu li a {margin: 0;}
.lan-menu ul.dropdown-menu {min-width: 55px;}
header.scroll-css .lan-menu .dropdown-menu {top: 60px;}
header.scroll-css .lan-menu .dropdown .dropdown-menu li a {margin: 0;}
.subline-bar li:hover, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .btn:hover {background-color: transparent!important;}
header .navbar-toggle:hover > i {color: #4C4C4C!important;}
.navbar-main .navbar-nav li a em {
    position: absolute;
    left: 20px;
    top: 0;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-style: normal;
    text-transform: none;
    white-space: nowrap;
}

.navbar-main .navbar-nav li:hover a em {
    top: 35px;
    left: 18px;
    opacity: 1;
}

.navbar-main .navbar-nav li:hover a span.chitle {
    opacity: 0;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
}
.scroll-css .navbar-main .navbar-nav li:hover a em {top: 20px;}
.nav.navbar-nav li.dropdown:nth-child(6) a span,
.nav.navbar-nav li.dropdown:nth-child(6) a em {color: #CC0000;}
@media (max-width: 1315px) and (min-width: 1290px) {
    header .navbar-right > *:not(li) {padding-right: 10px;padding-left: 10px;}
    header .navbar-default .lan-menu li a {padding: 0 10px 8px;}
}
@media (max-width: 1289px) and (min-width: 993px) {
    .navbar-header {float: none;text-align: center;}
    .navbar-header .navbar-brand {margin: 0!important; float: none;padding: 0;}
    .navbar-brand img {display: inline-block;}
    header.scroll-css .nav > li > a.dropdown-toggle {padding: 20px 12px 20px 12px;}
}
@media screen and (max-width: 1085px) {
    .navbar-brand {margin-right: 0;}
    header .nav > li > a {padding-left: 12px;padding-right: 12px;}
}
@media (min-width: 993px) {
    .navbar-right .dropdown-menu:not(.mega-menu) {
        left: auto;
        right: 0;
    }
}
/*@media (max-width: 1199px) and (min-width: 993px) {
    .navbar-header {float: none;text-align: center;}
    .navbar-header .navbar-brand {margin: 0!important; float: none;padding: 0;}
    .navbar-brand img {display: inline-block;}
}*/
@media screen and (max-width: 992px) {
    .navbar-brand {padding: 0 15px;}
    .navbar-brand img {max-height: 55px;}
    header .caret {display: inline-block;}
    .navbar-nav.navbar-right {margin-top: 0;margin-bottom: 15px;}
    .navbar-fixed-top, .navbar-fixed-bottom {position: fixed !important;}
    header .login_btn {margin-top: 0;}
    .login_btn a {color: #fff;}
    .btn-search {display: block;}
    .search-box {display: none;}
    header .btn-search {margin: 0;padding: 0;color: #fff!important;margin-top: 20px;}
    .search-box input[type="text"] {color: #fff;padding-left: 0;}
    header .navbar-default .lan-menu li a {margin: 0;padding: 0;}
    .lan-menu {text-align: left;margin: 0;}
    .lan-menu ul li a {text-align: left;}
    header .navbar-default .lan-menu > li > a {margin-bottom: 20px;}
    .search-box-menu .btn .fa-search {color: #fff;}
    header.scroll-css .navbar-main .login_btn {margin-top: 0;}
    header.scroll-css .navbar-default .lan-menu li a {margin-top: 0;margin-bottom: 20px;}
    .navbar-main .navbar-nav li a em {position: relative;left: 0;opacity: 1;display: block;text-transform: none;}
    .navbar-main .navbar-nav li:hover a em {top: 0;left: 0;}
    .navbar-main .navbar-nav li:hover a span.chitle {opacity: 1;transform: none;}
    .scroll-css .navbar-main .navbar-nav li:hover a em {top: 0;}
}
/* ---------- common_page ---------- */
.binner_sec .breadcrumb li {font-size: 16px;font-weight: bold;}
.binner_sec .breadcrumb li.active {color: #fff !important;}
.binner_sec .breadcrumb a {color: #fff !important;}
.breadcrumb > li + li:before {color: #fff;}
.breadcrumb > .active {opacity: 1;}
.title-base h2, .title-base h1, .title-icon h2, .title-icon h1, .title-base.title-small h2 {text-transform: none;}
.editor-area .title-base h2, .editor-area .title-base h1, .editor-area .title-icon h2,
.editor-area .title-icon h1, .editor-area .title-base.title-small h2 {margin-top: 0;}
.table:not(.grid-table) td {
    font-size: inherit;
}
div:not(.hc_column_cnt) > table:not(.grid-table) {
    margin-bottom: 0;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-width: 0;
}
@media screen and (max-width: 992px) {
    .binner_sec .title-base {margin-top: 0!important;}
    .binner_sec .header-title .breadcrumb.b {display: block;}
    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: normal;
    }
    .header-title h1 {padding-top: 30px;}
    .header-title .breadcrumb.b {margin-top: 0;}
}
@media (max-width: 767px) {
    .title-base.text-left p {text-align: center;}
    .form-box {width: 100%;}
}
/* ---------- home_banner ---------- */
.flexslider p.anima:not(.text-xl) {font-size: 18px;color: #484848;font-weight: bold;}
/* ---------- home_news ---------- */
.home_news_sec .advs-box {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}
.home_news_sec .advs-box-content h2 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
}
.home_news_sec .niche-box-content {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 75px;
}
/* ---------- home_clients ---------- */
.section-bg-color .section-empty {background-color: transparent;}
.home_clients_sec .container.content {padding-bottom: 40px;}
.flexslider.nav-inner .flex-control-nav {bottom: -10px;}
/* ---------- home_video ---------- */
.home_video_sec {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../upload/tw/tmp/bridG.jpg);
}
/* ---------- home_join ---------- */
.pricing-table, .pricing-table .list-group-item {border: 1px solid #d2d2d2;}
@media (min-width: 992px) {
    .pricing-table:hover {
        -webkit-transform: scale(1.10);
        -moz-transform: scale(1.10);
        -ms-transform: scale(1.10);
        -o-transform: scale(1.10);
        transform: scale(1.10);
    }
}
/* ---------- news_list ---------- */
.news_list_sec .grid-box.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.widget .search-blog {display: block;}
.widget .search-blog form {float: right;}
.widget .search-blog input {padding-right: 30px;}
.widget .search-blog .input-group-btn {display: block;}
.widget .search-blog .btn {overflow: visible;}
.widget .search-blog .input-group-btn:last-child > .btn {margin-left: -30px;}
.news_list_sec .advs-box-content h2 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
}
.news_list_sec .niche-box-content {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 75px;
    font-size: 15px;
}
.news_list_sec .advs-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
/* ---------- news_view ---------- */
.block-top {
    display: table;
    table-layout: fixed;
    width: 100%;
    width: calc(100% + 35px);
    text-align: left;
}
.advs-box .block-infos {right: 0;}
.block-infos {
    position: absolute;
    padding-right: 0;
    right: 15px;
    width: auto;
}
.block-infos p {
    color: #2e2e2e;
}
.block-top .block-infos p.bd-day {
    display: inline-block;
    margin-right: 1px;
    font-size: 14px;
    padding-top: 7px;
    color: #2e2e2e;
}
.block-top .block-infos p.bd-month {
    display: inline-block;
    font-size: 14px;
    color: #2b2b2b;
}
.block-top .block-infos p.bd-day:after {
    position: absolute;
    font-family: 'icomoon' !important;
    content: "\e70b";
    left: -25px;
    top: 6px;
    color: #2e2e2e;
}
.block-top .block-title {
    display: table-cell;
    padding: 0 25px;
    width: 100%;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block-title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 17px;
    max-width: 80%;
    max-width: calc(100% - 150px);
    margin: 0;
}
.block-title h2 a {
    font-weight: 500;
    font-size: 25px;
}
@media screen and (max-width: 992px) {
    .news_view_sec .block-infos {
        position: static;
        display: block;
        padding-left: 28px;
        text-align: left;
        margin: 0;
    }
    .news_view_sec .block-top {display: block;}
    .news_view_sec .block-title {display: block;}
    .news_view_sec .block-title h2 {max-width: none;}
    .block-top .block-infos p.bd-day {position: relative;}
}
/* ---------- competition_list ---------- */
.competition_list_sec .one-row-list .niche-box-blog .img-box {height: auto;}
.competition_list_sec .niche-box-blog .img-box {max-height: none;margin-top: 0;}
.competition_list_sec .grid-item {margin-bottom: 30px;padding-bottom: 30px;border-bottom: 1px dotted #999;}
.sidebar-nav li {list-style: none;}
.main {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 16px;
}
ul.subs li a {
    display: block;
    padding: 10px 20px;
    /*background-color: #F5F5F5;*/
    font-size: 14px;
    font-weight: bold;
}
.bg-sidebar:nth-child(odd) .main {background-color: #BF9525;color: #fff;border-right: solid 10px #EDC05D;}
.bg-sidebar:nth-child(even) .main {background-color: #762B28;color: #fff;border-right: solid 10px #B23F3F;}
.bg-sidebar:nth-child(odd) .rollover {background-color: #BF9525;}
.bg-sidebar:nth-child(even) .rollover {background-color: #762B28;}
.bg-sidebar:nth-child(odd) ul.subs li a {border-right: solid 10px #EDC05D;color: #EDC05D;}
.bg-sidebar:nth-child(even) ul.subs li a {border-right: solid 10px #B23F3F;color: #762B28;}
.bg-sidebar:nth-child(odd) ul.subs li a:hover {background-color: #EDC05D !important;color: #fff;}
.bg-sidebar:nth-child(even) ul.subs li a:hover {background-color: #B23F3F !important;color: #fff;}
.niche-box-blog .block-title h2 a {font-size: 22px;font-weight: bold;}
@media screen and (max-width: 992px) {
    .competition_list_sec .block-infos {
        position: static;
        display: block;
        padding-left: 28px;
        text-align: left;
        margin: 0;
    }
    .competition_list_sec .block-top {display: block;}
    .competition_list_sec .block-title {display: block;}
    .competition_list_sec .block-title h2 {max-width: none;}
}
/* ---------- competition_view ---------- */
@media screen and (max-width: 992px) {
    .competition_view_sec .block-infos {
        position: static;
        display: block;
        padding-left: 28px;
        text-align: left;
        margin: 0;
    }
    .competition_view_sec .block-top {display: block;}
    .competition_view_sec .block-title {display: block;}
    .competition_view_sec .block-title h2 {max-width: none;}
}
/* ---------- video_list ---------- */
.video_list_sec .one-row-list .niche-box-blog .img-box {height: auto;}
.video_list_sec .niche-box-blog .img-box {max-height: none;margin-top: 0;}
.video_list_sec .grid-item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dotted #999;
}
@media screen and (max-width: 992px) {
    .video_list_sec .block-infos {
        position: static;
        display: block;
        padding-left: 28px;
        text-align: left;
        margin: 0;
    }
    .video_list_sec .block-top {display: block;}
    .video_list_sec .block-title {display: block;}
    .video_list_sec .block-title h2 {max-width: none;}
}
/* ---------- video_view ---------- */
@media screen and (max-width: 992px) {
    .video_view_sec .block-infos {
        position: static;
        display: block;
        padding-left: 28px;
        text-align: left;
        margin: 0;
    }
    .video_view_sec .block-top {display: block;}
    .video_view_sec .block-title {display: block;}
    .video_view_sec .block-title h2 {max-width: none;}
}
/* ---------- contact ---------- */
.cm-sex {display: inline-block !important;margin-right: 10px;margin-top: 7px;}
label.control-label {display: block;clear: both;}
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio] {position: absolute;margin-left: -20px;}
.radio input {width: 1px;height: 1px;opacity: 0;}
.radio input:checked + .outer {border-width: 2px;border-style: solid;border-color: #BF9525;background: #BF9525;}
.radio .outer {width: 15px;height: 15px;display: block;float: left;margin: 2px 7px 0 0;border-width: 2px;border-style: solid;border-color: #e9e9e9;border-radius: 50%;background-color: #fff;}
.radio input:checked + .outer .inner {background-color: #fff;opacity: 1;}
.radio .inner {-webkit-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;width: 7px;height: 7px;display: block;margin: 2px;border-radius: 50%;opacity: 0;position: relative;}
.contact_sec .fa-ul .fa-li {
    line-height: normal;
    text-align: center;
}
.overlaybox-inner {
    padding: 25px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
    border-radius: 3px;
}
.contact_sec .fa-ul>li {word-break: break-word;}
#capcha_image {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    margin-top: 30px;
}
#capcha_image:after {
    content: "\f021";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    left: auto;
}
.overlaybox-inner .editor-area ul {list-style-type: none;}
.editor-area .fa-ul>li {line-height: normal;margin-bottom: 10px;}
@media screen and (max-width: 767px) {
    .overlaybox-inner {margin-top: 30px;}
}
/* ---------- login ---------- */
.login_sec .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
img.logo-small {
    margin: 30px 0;
    position: relative;
}
.login-bg {background: #ffffff;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}
.login-bg .login-title {
    background: #BF9525;
    padding: 20px 30px;
}
.text-white {
    color: #fff!important;
}
.login-bg .login-form {
    padding: 40px 30px;
}
.login_sec .form-control {
    border-radius: 3px;
    font-size: 13px;
    height: auto;
    line-height: 1.33333;
    padding: 15px 15px 15px 20px;
    background: #f6f7f8;
    color: #323232;
    border: 0px solid transparent;
    box-shadow: none;
}
.remember-checkbox input[type="checkbox"] {
    display: none;
}
.remember-checkbox label {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    cursor: pointer;
}
.remember-checkbox label:before, label:after {
    font-family: FontAwesome;
    font-size: 17px;
    position: absolute;
    top: -3px;
    left: 0;
    padding-left: 2px;
    border-radius: 3px;
}
.remember-checkbox label:before {
    border: 2px solid rgba(0, 0, 0, 0.1);
    content: "";
    height: 20px;
    margin-top: 3px;
    width: 20px;
}
.remember-checkbox label:before, .remember-checkbox after:before {
    color: #762B28;
}
.remember-checkbox label:after {
    content: '\f00c';
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
}
.remember-checkbox input[type="checkbox"]:checked + label:after {
    max-width: 25px;
    opacity: 1;
}
.login_inner a {color: #BF9525;}
.fright {
    float: right!important;
}
.login_sec .button {
    background: #762B28;
    padding: 5px 10px;
    font-size: 13px;
    letter-spacing: 1px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #762B28;
    cursor: pointer;
}
.remember-checkbox.cms_mb30 {margin-bottom: 30px!important;}
/* ---------- register ---------- */
.register_sec .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.register-bg {
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.register-bg .register-title {
    background: #BF9525;
    padding: 20px 30px;
}
.register-bg .register-form {
    padding: 30px;
}
.register-form .section-field {
    display: block;
}
.register_sec .form-control {
    border-radius: 3px;
    font-size: 13px;
    height: auto;
    line-height: 1.33333;
    padding: 15px 15px 15px 20px;
    background: #f6f7f8;
    color: #323232;
    border: 0px solid transparent;
    box-shadow: none;
}
.register-form .field-widget input {
    width: 100%;
    margin-bottom: 20px;
}
.register_sec .button {
    background: #762B28;
    padding: 5px 10px;
    font-size: 13px;
    letter-spacing: 1px;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #762B28;
    cursor: pointer;
}
.register_inner .cm-sex {margin-top: 10px!important;}
.cm_join {margin-bottom: 15px!important;}
.cm_book {margin-bottom: 20px!important;}
.register-form .section-field h5 {font-weight: bold;margin: 0 0 20px;color: #762B28;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
.register-form .field-widget textarea {margin-bottom: 20px;}
@media screen and (max-width: 767px) {
    .register-form .field-widget select {margin-bottom: 20px;}
}
/* ---------- mof_list ---------- */
.mof_list_sec .grid-box.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mof_list_sec .advs-box-content h2 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
}
.mof_list_sec .niche-box-content {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 75px;
    font-size: 15px;
}
.mof_list_sec .advs-box {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.advs-box-top-icon-img .img-box, .advs-box-multiple .img-box, .advs-box-top-icon-img .flexslider .slides > li, .advs-box-multiple .flexslider {max-height: none;}
.widget .dropdown .btn {padding-top: 3px;padding-bottom: 3px;}
.mof_list_sec .alert {
    margin-bottom: 20px !important;
}
/* ---------- search ---------- */
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.search_sec .alert {margin-bottom: 20px !important;}
/* ---------- success ---------- */
.success_sec .advs-box h3 {
    font-size: 35px;
    line-height: normal;
    font-weight: bold;
}
.success_sec .advs-box p {
    font-size: 25px;
    line-height: normal;
    margin-bottom: 5px;
}