@charset "utf-8";

/* Facebook Plugin */

#fb-root {
    display: none;
}

.fb-comments {
    width: 100% !important;
}

.fb-comments iframe[style] {
    width: 100% !important;
}

.fb-like-box {
    min-width: 280px;
    width: 100% !important;
}

.fb-like-box iframe[style] {
    min-width: 280px;
    width: 100% !important;
}

.fb-comments span {
    width: 100% !important;
}

.fb-comments iframe span[style] {
    width: 100% !important;
}

.fb-like-box span {
    min-width: 280px;
    width: 100% !important;
}

.fb-like-box iframe span[style] {
    min-width: 280px;
    width: 100% !important;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {

}

.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    
}

@media (min-width:768px) {
    .div-table {
        display: table;
        border-collapse: collapse;
        width: 100%;
    }
    .div-table .row {
        display: table-row;
    }
    .div-td {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}


/* define bootstrap 5 columns */

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (max-width: 768px) {
    .fbBox {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1200px){
    /* header */
    header{width: 85%;}
    .header-inner{padding-left: 0;}
    .nav-holder{left: 0;padding: 0 20px 0 27%;}
    nav li a{padding: 10px 15px 10px 0;margin: 0;}
}
@media only screen and (max-width: 1199px){
    /* header */
    header{width: 95%;}
    .nav-holder {
        padding: 0 5px 0 25%;
    }
    nav li a {padding: 10px;}
    .contactBtn{float: left;}
}
@media only screen and (max-width: 1036px){
    /* header */
    header{width: 80%;}
    .nav-button span{background-color: #fff;}
    .nav-button{border: 1px solid rgba(255,255,255,1);}
    .nav-holder{top: 80px;padding: 30px 0 30px 30px;height: 400px;}
    /* team */
    .teamListSec .left-direction .parallax-deck {
        right: 0;
    }
    .teamListSec .right-direction .parallax-deck {
        left: 0;
    }
}
@media only screen and (max-width: 991px){
    /* team */
    .teamItem .section-title{margin-top: 20px;}
}
@media only screen and (max-width: 767px){
    /* header */
    header{width: 100%;}
    .logo-holder {left: 30px;}
    .nav-button-holder{right: 30px;}
    /* footer */
    .copyright{width: 80%;}
    /* program */
    .program-item {width: 100%;padding: 10px 0;}
    /* index */
    .creat-list li {width: 100%;}
}