.new-nav a {
    font-family: '微軟正黑體'
}

.btnx4 {
    display: block;
    height: 90px;
    background-color: #171b24;
    border-bottom: 4px solid #decda4;
    text-align: center;
    color: #d6bc91;
    border-right: 4px solid rgba(238, 238, 238, .05);
    letter-spacing: 1px;
    padding-top: 34px
}

.btnx4:hover {
    background-color: #2e5a6d;
    transition: all .2s ease-in .01s
}

.btnx4 p {
    font-size: 19px
}

@media(max-width:768px) {
    .btnx4 {
        height: 55px;
        border-bottom: 3px solid
    }
    .btnx4 p {
        font-size: 16px
    }
    .dia-btn {
        margin-left: 10%!important
    }
}

img.logo {
    margin: 0 auto
}

.ac-area {
    display: block;
    background-color: rgba(50, 88, 102, 0.6);
    min-height: 250px
}

.ac-x4 img {
    padding-top: 20px
}

#part1 a {
    text-decoration: none
}

.part2 img {
    padding-top: 10px
}

.blue-area {
    padding-top: 30px
}

.modal-num {
    border: 1px solid #b8aa7d;
    padding: 5px 8px;
    margin-right: 10px;
    color: #b8aa7d;
    margin-top: 20px;
    font-size: 16px;
    transition: all .1s ease-in .01s
}

.modal-num:hover {
    color: #fff;
    background-color: #b8aa7d
}

.pro-tit-lg {
    font-size: 17px;
    color: #919699;
    padding-bottom: 20px;
    margin-top: -13px;
    letter-spacing: 1px
}

p.pro-tit {
    font-size: 30px;
    color: #e9bf5b;
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-weight: 700
}

p.pro-tit-sm {
    font-size: 20px;
    color: #f3d5ba;
    letter-spacing: .8px;
    padding-bottom: 15px;
    margin-top: -10px
}

p.pro-tit-two {
    font-size: 28px;
    color: #e9bf5b;
    letter-spacing: 1px;
    padding-bottom: 15px;
    font-weight: 700
}

p.pro-tit-two-sm {
    font-size: 18px;
    color: #f3d5ba;
    letter-spacing: 1px;
    padding-bottom: 15px;
    margin-top: -13px
}

p.pro-tit-thr {
    font-size: 28px;
    color: #535353;
    letter-spacing: .5px;
    padding-bottom: 15px;
    font-weight: 700
}

p.pro-tit-thr-sm {
    font-size: 18px;
    color: #848484;
    letter-spacing: .7px;
    margin-top: -13px
}

.feature img {
    padding-top: 30px
}

.feature a {
    text-decoration: none
}

.btn-area {
    margin-top: 50px
}

.btn-area a {
    text-decoration: none
}

span.btn-lg {
    font-size: 18px;
    background-color: rgba(45, 116, 142, 0.6);
    padding: 12px 65px;
    margin-right: 11px;
    color: #fff;
    transition: all .3s ease-in .01s
}

span.btn-lg:hover {
    font-size: 18px;
    background-color: rgba(45, 116, 142, 0.9);
    padding: 12px 65px;
    margin-right: 11px;
    letter-spacing: 1px
}

span.btn-lg-tv {
    font-size: 18px;
    background-color: rgba(45, 116, 142, 0.6);
    padding: 12px 65px;
    margin-right: 11px;
    color: #fff;
    transition: all .3s ease-in .01s;
    border-radius: 6px
}

span.btn-lg-tv:hover {
    font-size: 18px;
    background-color: rgba(45, 116, 142, 0.9);
    padding: 12px 65px;
    margin-right: 11px;
    letter-spacing: 1px
}

@media(max-width:500px) {
    span.btn-lg {
        font-size: 16px;
        background-color: rgba(45, 116, 142, 0.6);
        padding: 11px 30px;
        margin-right: 6px;
        color: #fff;
        transition: all .3s ease-in .01s
    }
    span.btn-lg:hover {
        font-size: 16px;
        background-color: rgba(45, 116, 142, 0.9);
        padding: 11px 30px;
        margin-right: 6px;
        letter-spacing: 1px
    }
    p.pro-tit {
        font-size: 21px;
        color: #e5cf8f
    }
    span.btn-lg-tv {
        font-size: 16px;
        background-color: rgba(45, 116, 142, 0.6);
        padding: 11px 30px;
        margin-right: 11px;
        color: #fff;
        transition: all .3s ease-in .01s;
        border-radius: 6px
    }
    span.btn-lg-tv:hover {
        font-size: 18px;
        background-color: rgba(45, 116, 142, 0.9);
        padding: 11px 30px;
        margin-right: 11px;
        letter-spacing: 1px
    }
    img.ser-L {
        width: 43px
    }
    .tv-ar-04 {
        padding: 33px 12px!important
    }
    .tv-ar-04 img {
        padding-bottom: 0;
        margin-top: -24px
    }
    p.dia-tit {
        font-size: 20px!important
    }
    .modal-content li {
        font-size: 15px;
        line-height: 25px
    }
    .dia-con-2 li {
        color: #000;
        font-size: 17px;
        list-style: none;
        text-align: left;
        letter-spacing: 1px;
        margin-left: -39px;
        line-height: 29px
    }
    .modal-content li {
        font-size: 15px!important;
        margin-left: 32px!important;
        line-height: 24px!important
    }
    .dia-con-2 {
        width: 315px!important;
        margin-left: -45px!important
    }
    .vedio-you {
        height: 397px!important
    }
}

span.live {
    background-color: #fa3d53;
    color: #fff;
    font-size: 14px;
    padding: 4px;
    border-radius: 3px;
    margin-right: 10px
}

.tv-ar-02 {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    border-radius: 20px;
    padding-right: 15px;
    padding-left: 15px;
    transition: all .3s ease-in .01s;
    min-height: 600px
}

.tv-ar-02:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.tv-ar-02 img {
    padding-top: 54px;
    padding-bottom: 14px
}

.tv-ar-03 {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 30px;
    min-height: 536px;
    border-radius: 20px;
    transition: all .3s ease-in .01s;
    padding-right: 15px;
    padding-left: 15px;
    height: auto
}

.tv-ar-03:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.tv-ar-03 img {
    padding-top: 54px;
    padding-bottom: 14px
}

.tv-ar-04 {
    display: block;
    background-color: rgba(245, 245, 245, 0.9);
    margin-top: 50px;
    border-radius: 20px;
    transition: all .3s ease-in .01s;
    padding: 50px 15px;
    height: auto;
    min-height: 712px
}

.tv-ar-04:hover {
    background-color: rgba(245, 245, 245, 1)
}

.ar04-adj {
    min-height: 574px
}

.ar04-adj p.pro-tit-thr {
    font-size: 22px
}

img.ser-L {
    position: absolute;
    top: 23px;
    left: 8px
}

.ser-area {
    position: absolute;
    display: block;
    top: 44px;
    left: 46px
}

span.ser-dn {
    font-size: 20px;
    color: #fff
}

span.ser-sa {
    color: #919699;
    padding-left: 10px;
    letter-spacing: .7px;
    font-size: 15px
}

span.yal-stor {
    font-size: 13px;
    letter-spacing: 0;
    color: #9a9a9a
}

.nor-line {
    border: 1px solid rgba(255, 255, 255, 0.06);
    width: 70%;
    margin: 0 auto
}

.pot-area {
    background-color: rgba(32, 82, 100, 0.65);
    min-height: 200px;
    padding: 40px
}

.pot-area-01 {
    margin-top: 40px
}

.pot-area p {
    font-size: 24px;
    letter-spacing: 1px
}

@media screen and (min-width:768px) and (max-width:991px) {
    span.ser-dn {
        font-size: 17px
    }
    span.ser-sa {
        font-size: 9px!important;
        letter-spacing: .2px!important
    }
    p.pro-tit-two {
        font-size: 22px
    }
    span.btn-lg {
        font-size: 16px;
        padding: 12px 35px
    }
    span.btn-lg:hover {
        font-size: 16px;
        padding: 12px 35px!important
    }
    .tv-ar-02 {
        min-height: 435px
    }
    .tv-ar-03 {
        min-height: 445px
    }
    .ar04-adj {
        min-height: 650px
    }
}

@media screen and (min-width:600px) and (max-width:767px) {
    span.ser-dn {
        font-size: 20px!important
    }
    span.ser-sa {
        font-size: 15px!important
    }
    p.pro-tit-two {
        font-size: 26px
    }
    .tv-ar-02 {
        min-height: 576px
    }
    .pot-area p {
        margin-bottom: -15px
    }
}

@media screen and (min-width:700px) and (max-width:767px) {
    .tv-ar-03 {
        min-height: 796px
    }
}

@media screen and (min-width:600px) and (max-width:699px) {
    .tv-ar-03 {
        min-height: 796px
    }
}

@media screen and (min-width:500px) and (max-width:599px) {
    .tv-ar-03 {
        min-height: 690px
    }
}

@media screen and (min-width:400px) and (max-width:499px) {
    span.ser-dn {
        font-size: 20px!important
    }
    span.ser-sa {
        font-size: 15px!important
    }
    p.pro-tit-two {
        font-size: 26px
    }
    .tv-ar-02 {
        min-height: 509px
    }
    .tv-ar-03 {
        min-height: 556px
    }
    .pot-area p {
        font-size: 20px;
        margin-bottom: -15px
    }
}

@media screen and (min-width:300px) and (max-width:399px) {
    span.ser-dn {
        font-size: 16px!important;
        display: block;
        text-align: left
    }
    span.ser-sa {
        font-size: 14px!important;
        margin-left: -10px
    }
    p.pro-tit-two {
        font-size: 24px;
        letter-spacing: 0
    }
    .tv-ar-02 {
        min-height: 426px
    }
    .tv-ar-03 {
        min-height: 500px
    }
    .tv-ar-04 {
        min-height: 637px
    }
    .pot-area p {
        font-size: 18px;
        margin-bottom: -20px
    }
}

.give-part {
    background-image: url(../img/give.png);
    background-repeat: no-repeat;
    background-position: 1px 1px;
    min-height: 40px;
    display: block;
    padding-top: 9px;
    text-align: left;
    margin-left: 23px;
    padding-left: 47px
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .give-part {
        background-position: 18px 1px
    }
    span.give-pro {
        padding-left: 22px!important
    }
    .ar04-adj {
        min-height: 750px
    }
    p.pro-tit-thr {
        font-size: 31px!important
    }
    p.pro-tit-thr-sm {
        font-size: 21px!important
    }
    .tv-ar-04 {
        min-height: 778px
    }
    .tv-ar-02 {
        min-height: 536px
    }
}

span.give-pro {
    font-size: 16px;
    color: #3c3c3c;
    padding-left: 7px;
    letter-spacing: .5px;
    display: block
}

.pro-price {
    margin-top: 14px;
    letter-spacing: 1px
}

span.pri-txt {
    font-size: 18px;
    color: #72553a
}

span.price {
    font-size: 30px;
    font-weight: 700;
    color: #db9139;
    font-family: 微软雅黑
}

.tv-ar-04 img {
    padding-bottom: 10px
}

.last-part .fa {
    font-size: 8px;
    padding-right: 5px;
    color: rgba(229, 0, 19, 0.78)
}

img.fot-pic {
    position: absolute;
    right: 0
}

.fot-txt {
    margin-top: 14%
}

.modal-header {
    border-bottom: none
}

p.dia-tit {
    font-size: 35px;
    color: #313131;
    font-weight: 700;
    letter-spacing: 1px
}

.dia-p1,
.dia-p3 {
    padding-top: 50px
}

.dia-con {
    display: block;
    width: 400px;
    margin: 0 auto
}

.dia-con-2 {
    display: block;
    width: 500px;
    margin: 19px auto;
    line-height: 29px
}

.modal-content li {
    color: #000;
    font-size: 17px;
    list-style: none;
    text-align: left;
    letter-spacing: 1px;
    margin-left: 40px;
    line-height: 29px
}

.dia-p2 {
    margin-top: 30px;
    padding: 50px
}

.dia-p3 p {
    line-height: 49px;
    text-align: left
}

.dia-p3.dia-tit {
    text-align: left;
    margin-top: 20px
}

.dia-p3-ri {
    text-align: left;
    margin-top: 20px;
    margin-top: 74px
}

.dia-p4 {
    display: block;
    margin-bottom: 63px
}

.dia-p4 .dia-tit {
    padding-top: 88px;
    text-align: left
}

.dia-p4.dia-con-2 {
    line-height: 22px
}

.dia-p4 i {
    font-size: 8px
}

img.icon-01 {
    display: block;
    margin-bottom: 48px
}

.dia-btn {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 55px;
    margin-right: 11px;
    color: #060606;
    transition: all .3s ease-in .01s;
    margin-left: -200px;
    border: 1px solid #000;
    border-radius: 10px
}

.dia-btn:hover {
    font-size: 18px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px
}

.go-top {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    font-size: 30px;
    position: fixed;
    bottom: -40px;
    right: 20px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: rgba(199, 204, 205, 0.64);
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 50px
}

.go-top.show {
    bottom: 20px
}

.go-top:hover {
    color: #FFF
}

.wrapper {
    margin: auto;
    width: 700px;
    text-align: left
}

.vedio-you {
    background-image: url(../img/tv-main.png);
    background-repeat: no-repeat;
    height: 495px;
    background-position: center -33px;
    margin-top: 62px;
    padding-top: 9px
}

.lg-you {
    width: 729px;
    height: 410px
}

@media screen and (min-width:600px) and (max-width:800px) {
    .lg-you {
        width: 542px;
        height: 305px
    }
    .vedio-you {
        background-image: url(../img/tv-main-sm.png);
        height: 400px;
        background-position: center -26px;
        margin-top: 78px;
        padding-top: 8px
    }
}

@media(max-width:599px) {
    .lg-you {
        width: 100%;
        height: 400px
    }
    .vedio-you {
        background-image: none
    }
    .dia-p2 {
        padding: 0
    }
    .list-txt {
        font-size: 15px!important;
        padding: 0px 0px 21px 0px!important
    }
    .form-01 tr {
        height: 25px!important;
        font-size: 14px!important
    }
    .form-01 tr:first-child {
        height: 30px!important;
        font-size: 16px!important
    }
}

@media(max-width:390px) {
    .dia-btn {
        padding: 12px 20px
    }
}



/* award-list page */

.form-01 {
    width: 100%
}

.form-01 td {
    /* border: 2px solid #ececec */
}

.form-01 tr {
    background-color: #fff;
    height: 37px;
    color: #0e121b;
    font-size: 16px;
    border-bottom: 1px solid #eee
}

.form-01 tr:first-child {
    background-color: #3c7a94;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    background-image: url(../img/bn-bg.jpg);
    background-size: cover
}

.list-txt {
    text-align: left;
    float: left;
    font-size: 16px;
    padding: 0px 40px 27px 40px
}

.aw-block {
    font-size: 16px;
    margin-bottom: 23px;
    letter-spacing: .8px;
    border-radius: 10px;
    color: #fff;
    padding: 10px 40px;
}

img.title05 {
    max-width: 280px
}

/* 2020 */
header {background-position: top;background-image: url('../img/bn-bg.jpg');background-color: #000;}
body {background-position: center 30%;background-size: 100%;background-attachment: fixed;}
body:after {background-color: rgba(0,0,0,0.67)!important;}
.image.ac-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-height: 400px;
    background-color: rgba(0,0,0,.5);
    border: 1px solid rgba(255,255,255,.2);
}
.ac-1 img, .ac-2 img {padding-top: 0!important;}
.ac-area .overlay {
    bottom: auto;
    left: auto;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}
.ac-area .overlay .text {
    position: static;
    left: auto;
    transform: none;
    -ms-transform: none;
    margin: 0 auto;
    color: #333;
}
.dia-p1, .dia-p3 {padding-top: 0;}
.modal-content {background-image: none;}
.text p.hvr-tit {color: #d88e14;}
.text a.store-link {background-color: #d88e14;}
span.btn-lg-tv {background-color: rgba(216,142,20,.6);}
span.btn-lg-tv:hover {background-color: rgba(216,142,20,.9);}
.btnx4:hover {background-color: #d88e14;}
.btnx4:hover p {color: #fff;}
.b-nav .b-link {color: #D6BC95;}
.logo.bn-pd {max-height: 60vh;}
img.logo {max-height: 20vh;}
.store_items {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.store_items img {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #e8bf5b;
    border-radius: 3px;
    margin: 30px 10px 0;
    max-height: 57px;
}
@media (max-width: 991px) {
    .store_items {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .store_items li {margin-bottom: 10px;}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    .part2 .ac-1 img {padding-top: 0!important;}
    .overlay .part {margin: 5px auto;padding: 3px;}
    .text p.hvr-tit {margin-top: 0;font-size: 16px;padding: 3px 0;}
}
@media (max-width: 768px) {
    body:after {background-color: rgba(0,0,0,0.92)!important;}
    .store_items {justify-content: center;max-width: none;}
    .store_items img {max-height: 45px;margin-left: 5px;margin-right: 5px;}
}
@media (max-width: 499px) {
    .overlay .part {margin: 10px auto;}
    .text p.hvr-tit {margin-top: 0!important;}
    .overlay .text {margin-top: 0!important;}
    .ac-area .overlay {width: 93%!important;}
}