.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 00) !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(0, 0, 0, 00) !important;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    background-color: rgba(0, 0, 0, 00) !important;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: rgba(0, 0, 0, 00) !important;
}


/* Add a dark background color with a little bit see-through */

.new {
    background-color: rgba(0, 0, 0, 00) !important;
}

.content {
    margin-top: -80px;
    padding: 0;
}

.navbar {
    font-family: "Microsoft Jhenghei", "Arial Regular";
    margin-bottom: 0;
    border-bottom: 0px;
    font-size: 14px !important;
    letter-spacing: 1px;
    position: absolute;
}

.navbar-right {
    margin-right: 8px;
}

#border {
    border-bottom: 1px solid white;
    opacity: 0.7;
}

.navbar-brand img {
    position: absolute;
    /*left: 1%;*/
    top: 14px;
    display: inline-block;
    width: 130px;
    height: 41px;
}


/* Add a gray color to all navbar links */

.navbar li a,
.navbar .navbar-brand {
    color: #ffffff !important;
    opacity: 1 !important;
    line-height: 40px;
}


/* On hover, the links will turn white */

.navbar-nav li a:hover {
    opacity: 1 !important;
}


/* The active link */

.navbar-nav li.active a {
    color: #ffffff !important;
}


/* Remove border color from the collapsible button */

.navbar-default .navbar-toggle {
    border-color: rgba(0, 0, 0, 00) !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}


/* Dropdown */

.open .dropdown-toggle {
    color: #fff;
    /*background-color: #666666 !important;*/
}

.dropdown-menu {
    position: absolute;
    top: 70px;
    min-width: 100%!important;
    display: block;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8)!important;
    border: none;
    box-shadow: none;
    padding: 10px;
    text-align: center;
}


/* Dropdown links */

.dropdown-menu li a {
    color: #666666 !important;
}

.navbar-nav li a::after {
    position: absolute;
    display: block;
    bottom: 0px;
    content: "";
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #FFF;
    -webkit-transition: width .3s;
    /* For Safari 3.1 to 6.0 */
    transition: width .3s;
}


/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
    background-color: transparent;
    !important;
    color: #666!important;
}

.navbar-nav li a:hover::after {
    display: block;
    background-color: #FFF;
    bottom: 0px;
    width: 100%;
    height: 1px;
    z-index: 999999;
}

.navbar-nav li ul li a:hover::after {
    display: block;
    background-color: #FFF;
    bottom: 0px;
    width: 0%;
    height: 1px;
    z-index: 999999;
}

.navbar-collapse.in {
    overflow-y: hidden;
    -ms-overflow-style: none;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    max-height: 0;
    display: block;
    overflow: hidden;
    -ms-overflow-style: none;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

@media (max-width:767px) {
    .navbar li a,
    .navbar .navbar-brand {
        color: #666666 !important;
        line-height: 30px;
    }
    .navbar-brand img {
        position: absolute;
        left: 1%;
        top: 3px;
        display: inline-block;
        width: 130px;
        height: 41px;
    }
    .navbar-nav li a:hover {
        color: #000000!important;
    }
    .dropdown-menu {
        text-align: left;
    }
    .dropdown-menu li a:hover {
        color: #666!important;
    }
    .navbar-collapse {
        background-color: #ffffff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }
}
