/*思源黑*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*黑體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);*/
/*仿宋體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/
/*楷書*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);*/
/*明體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);*/
/*圓體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);*/
* {
    -webkit-text-size-adjust: none;
    outline: none;
    hlbr: expression(this.onFocus=this.blur());
}

html,
html *:not(i),
body,
body *:not(i) {
    font-family: Arial, "Open Sans", "微軟正黑體", "Microsoft JhengHei" !important;
}

label.error {
    display: none !important;
}

input.error,
textarea.error,
select.error {
    border: 1px solid #FF0000 !important;
    background-color: #ffeeee !important;
}

.transition *,
.transition:hover * {
    -o-transition: all .20s linear !important;
    -webkit-transition: all .20s linear !important;
    -moz-transition: all .20s linear !important;
    transition: all .20s linear !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 1s 0s ease;
    opacity: 0;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
}

.div-table img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-table.no-margin img {
    margin: 0;
}

.cms_around div:not(.col-sm-4):not(.col-sm-6) {
    margin: auto 15px;
}

#verifyImgCode {
    cursor: pointer;
}

.error404 {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.youtube_content {
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube_content {
    padding-bottom: 56.25%;
}

.youtube_content iframe,
.youtube_content object,
.youtube_content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.all-trans {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.all-trans:hover {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.overlybox {
    display: block;
    overflow: hidden;
}

.overlybox img {
    transition: all 0.5s;
}

.overlybox:hover img {
    transform: scale(1.4);
}

.fullTexty {
    text-align: justify;
    text-justify: auto;
}

.overflowTexty {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.overflow_multi {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.noDisplay {
    display: none;
}

.spriteIMG {
    background-image: url(images/common_images/sprite.png);
    background-repeat: no-repeat;
}

#capcha_image {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}

#capcha_image:after {
    content: "\f021";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
}

/* This code is tested with latest version of Firefox and Chrome */
.image-shadow-box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    margin-bottom: 30px;
}

.image-shadow-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    left: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg) skew(-0deg);
    -moz-transform: rotate(-5deg) skew(-0deg);
    -ms-transform: rotate(-5deg) skew(-0deg);
    -o-transform: rotate(-5deg) skew(-0deg);
    transform: rotate(-5deg) skew(-0deg);
}

.image-shadow-box:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    right: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg) skew(0deg);
    -moz-transform: rotate(5deg) skew(0deg);
    -ms-transform: rotate(5deg) skew(0deg);
    -o-transform: rotate(5deg) skew(0deg);
    transform: rotate(5deg) skew(0deg);
}

.corner3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.corner4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.corner5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.corner6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.corner7px {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.corner8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.corner9px {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.corner10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.corner11px {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}

/* margin bottom */
.cms_mb0 {
    margin-bottom: 0px;
}

.cms_mb10 {
    margin-bottom: 10px !important;
}

.cms_mb20 {
    margin-bottom: 20px;
}

.cms_mb30 {
    margin-bottom: 30px;
}

.cms_mb40 {
    margin-bottom: 40px;
}

.cms_mb50 {
    margin-bottom: 50px;
}

.cms_mb60 {
    margin-bottom: 60px;
}

.cms_mb70 {
    margin-bottom: 70px;
}

.cms_mb80 {
    margin-bottom: 80px;
}

.cms_mb90 {
    margin-bottom: 90px;
}

.cms_mb100 {
    margin-bottom: 100px;
}

.cms_mb110 {
    margin-bottom: 110px;
}

.cms_mb120 {
    margin-bottom: 120px;
}

/* margin top */
.cms_mt0 {
    margin-top: 0px;
}

.cms_mt10 {
    margin-top: 10px;
}

.cms_mt20 {
    margin-top: 20px;
}

.cms_mt30 {
    margin-top: 30px;
}

.cms_mt40 {
    margin-top: 40px;
}

.cms_mt50 {
    margin-top: 50px;
}

.cms_mt60 {
    margin-top: 60px;
}

.cms_mt70 {
    margin-top: 70px;
}

.cms_mt80 {
    margin-top: 80px;
}

.cms_mt90 {
    margin-top: 90px;
}

.cms_mt100 {
    margin-top: 100px;
}

.cms_mt110 {
    margin-top: 110px;
}

.cms_mt120 {
    margin-top: 120px;
}

/* margin left */
.cms_ml0 {
    margin-left: 0px;
}

.cms_ml10 {
    margin-left: 10px;
}

.cms_ml20 {
    margin-left: 20px;
}

.cms_ml30 {
    margin-left: 30px;
}

.cms_ml40 {
    margin-left: 40px;
}

.cms_ml50 {
    margin-left: 50px;
}

.cms_ml60 {
    margin-left: 60px;
}

.cms_ml70 {
    margin-left: 70px;
}

.cms_ml80 {
    margin-left: 80px;
}

.cms_ml90 {
    margin-left: 90px;
}

.cms_ml100 {
    margin-left: 100px;
}

.cms_ml110 {
    margin-left: 110px;
}

.cms_ml120 {
    margin-left: 120px;
}

/* margin right */
.cms_mr0 {
    margin-right: 0px;
}

.cms_mr10 {
    margin-right: 10px;
}

.cms_mr20 {
    margin-right: 20px;
}

.cms_mr30 {
    margin-right: 30px;
}

.cms_mr40 {
    margin-right: 40px;
}

.cms_mr50 {
    margin-right: 50px;
}

.cms_mr60 {
    margin-right: 60px;
}

.cms_mr70 {
    margin-right: 70px;
}

.cms_mr80 {
    margin-right: 80px;
}

.cms_mr90 {
    margin-right: 90px;
}

.cms_mr100 {
    margin-right: 100px;
}

.cms_mr110 {
    margin-right: 110px;
}

.cms_mr120 {
    margin-right: 120px;
}

/**** editor-area ****/
.editor-area {
    color: #000;
    text-align: justify;
}

.editor-area p {
    margin-bottom: 15px;
    color: #000;
    line-height: 28px;
    font-size: 18px;
    text-align: justify;
}

.editor-area p:last-child {
    margin-bottom: 0;
}

.editor-area img {
    margin-bottom: 15px;
}

.editor-area ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area ol {
    list-style-type: decimal;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area h1 {
    font-size: 36px;
}

.editor-area h2 {
    font-size: 30px;
}

.editor-area h3 {
    font-size: 24px;
}

.editor-area h4 {
    font-size: 18px;
}

.editor-area h5 {
    font-size: 14px;
}

.editor-area h6 {
    font-size: 12px;
}

.editor-area h1,
.editor-area h2,
.editor-area h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.editor-area h4,
.editor-area h5,
.editor-area h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.scrollup {
    width: 50px;
    display: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    background-color: #333333;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.scrollup:hover {
    background-color: #767676;
    color: #fff;
}

.blueimp-gallery>.indicator>li {
    background-size: cover;
}

.blueimp-gallery>.next,
.blueimp-gallery>.prev,
.blueimp-gallery>.close,
.blueimp-gallery>.title,
.blueimp-gallery>.indicator {
    display: block;
}

.blueImpGallery #links a {
    max-width: 200px;
    height: 150px;
    display: inline-block;
    text-align: center;
    margin: 7px;
}

.blueImpGallery #links a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.gsc-adBlock {
    display: none !important;
}

@media (max-width:575px) {
    .col-form-label {
        text-align: left !important;
    }
}

h4.alert-heading {
    font-weight: bold;
}

.panel_header {
}

.form-label {
    line-height: 38px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "瀏覽檔案";
}

.custom-file-label {
    z-index: auto;
}

.lg-header-title {
    font-size: 20px;
}

#datatable.table th {
    text-align: center;
}

#datatable.table td {
    padding: 7px;
    text-align: center;
}

#datatable.table tr:nth-child(even) td {
    background-color: #F7F7F7;
}

#datatable.table tr:hover td {
    background-color: #F1F5FA;
}

.charts-result .apexcharts-legend:before {
    content: "分析結果";
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    color: #4d4d4d;
}

@media (max-width:374px) {
    button.btn {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}

.home-counter-style {
    font-family: Arial Black,Arial Bold,Gadget,sans-serif !important;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #515151;
}

.home-dount .apexcharts-legend {
    display: none;
}

.home-result {
    font-weight: bold;
}

ul.home-result-list {
    padding: 0;
    margin: 0 0 10px;
    font-weight: bold;
}

ul.home-result-list li {
    list-style-type: none;
    line-height: 34px;
}

ul.home-result-list li:before {
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: -2px;
    border-radius: 50%;
}

ul.home-result-list li:nth-child(1):before {
    background-color: #4D79F6;
}

ul.home-result-list li:nth-child(2):before {
    background-color: #4AC7EC;
}

ul.home-result-list li:nth-child(3):before {
    background-color: #F3C74D;
}

.crime-result-list li i {
    margin-right: 7px;
}

.panel_header .btn:last-child {
    margin-right: 0;
}

div.form-group.row label {
    margin-left: 10px;
}

.preview-section p {
    color: #000000;
    font-size: 14px;
    text-align: left;
    line-height: 30px;
    margin-bottom: 0;
}

.chinese-list {
    padding-left: 35px;
    text-indent: -2em;
    text-align: justify !important;
    text-justify: auto;
    margin-bottom: 15px !important;
}

.person_list_section h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.person_list_section .card {
    margin-bottom: 7px;
    border: 1px solid #eaeaea;
}

.person_list_section .card-header {
    padding: 0;
}

.person_list_section .card-header a {
    padding: 13px 18px 13px 24px;
    display: block;
    font-weight: bold;
}

.preview-section {
    padding: 30px;
    border: 1px solid #e8e8e8;
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}

div > .btn:last-child {
    margin-right: 0;
}

.option_header_section {
    margin-bottom: 10px;
}

.option_lv2_section {
    margin-bottom: 10px;
}

.option-style1 {
    margin-bottom: 15px;
}

.option-style1 .btn {
    margin-bottom: 0;
}

.preview-option .btn {
    margin-bottom: 0;
}

.option-style1 h4 {
    font-weight: bold;
}

.person_list_section .card-header a.card-link:before {
    content: "\f106";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: -6px;
    margin-right: 6px;
}

.person_list_section .card-header a.card-link.collapsed:before {
    content: "\f107" !important;
}

.table-style-1 tbody th {
    width: 140px;
    text-align: right;
    font-weight: bold;
}

.table-style-1 th,
.table-style-1 td {
    vertical-align: middle;
    border-bottom: 1px solid #eaf0f7;
    border-top: none;
}

.table-style-1 tr:last-child th,
.table-style-1 tr:last-child td {
    border-bottom: none;
}

.table-style-1 {
    margin: 0;
}

.collapse .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.form-span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.form-span.style1 {
    width: 75px;
}

.no-margin {
    margin: 0 !imporatnt;
}

.no-margin {
    margin: 0;
}

.sub-btn {
    margin-top: -9px;
}

.page-rightside-2 {
}

.page-rightside-2 p {
    font-size: 16px;
    color: #090909;
}

.option_lv3_section {
    margin-bottom: 10px;
}

li.no_check > a.jstree-anchor > i.jstree-checkbox {
    display: none;
}

.nav.nav-tabs .nav-link {
    font-weight: bold;
}

.editor-mode {
    margin-bottom: 20px;
}

.editor-mode .form-group {
    margin-bottom: 0;
}

.form-span.style2 {
    width: 50px;
}

.form-control.small-input {
    height: calc(1.7rem + 2px);
}

.form-span.style3 {
    width: 70px;
}

h5.tools-title {
    margin-bottom: 20px;
    font-weight: bold;
}

/*************************
        symod
*************************/
.col-xs-1, .col-xs-2, .col-xs-3, .col-sm-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
/*************************
        basic
*************************/
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.align_center {
    align-items: center;
}
/*************************
        topbar
*************************/
.navbar-custom {margin-left: 70px;}
.topbar .topbar-left {padding-left: 0px;width: auto;margin-left: 0;}
.enlarge-menu .navbar-custom {margin-left: 0!important;}
.enlarge-menu .topbar .topbar-left {width: auto;}
@media (max-width: 1024px) {
    .topbar .topbar-left .logo-lg {display: inline-block;}
    .enlarge-menu .topbar .topbar-left {width: auto;}
}
/*************************
        home
*************************/
ul.home-result-list li:nth-child(4):before {background-color: #999999;}
.page-title-box .page-title span {font-size: 13px;font-weight: 400;padding-left: 10px;}
@media (max-width: 1630px) {
    .pie_block {flex: 0 0 100%;max-width: 100%;}
}
/*************************
    summary_of_facts
*************************/
.summary_item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eaf0f7;
    align-items: center;
}
.summary_item .factitle {min-width: 100px}
.summary_item .factitle p {font-size: 13px;margin-bottom: 0;}
.summary_item .factext {flex: 1 1 auto;}
.summary_item .btn-toolbar .btn-sm {word-break: keep-all;}
.datinp {width: 50px;}
@media (max-width: 767px) {
    .summary_item {flex-wrap: wrap;}
    .form-span {margin: 5px;}
}
/*************************
        book
*************************/
.preview-section {margin-bottom: 15px;}
.vakata-context {z-index: 9999;}
/*************************
    law_selection
*************************/
.law_select_nd,.select_st {margin-bottom: 20px;}
/*************************
        search
*************************/
.search_bar {align-items: center;border-bottom: 4px double #b6c2e4;margin-bottom: 20px;}
.search_bar .list-inline {margin-bottom: 0;}
.search_content .blog-card .meta-box li:last-child:after {display: none;}
.search_content .meta-box .badge {padding: 6px;line-height: normal;font-size: 14px;}
.search_content .card-body {border: 1px solid #eff2f9;background-color: #fcfdfd;}
.search_filter , .search_total {font-size: 17px;line-height: normal;}
.search_filter span {margin-right: 5px;padding: 6px;font-size: 15px;margin-bottom: 5px;}
.search_total span {padding: 6px;font-size: 15px;}
.search_content .pagination {justify-content: center;}
.repeater-default .form-group {margin-bottom: 10px;}
.modal-addtag .modal-header {background-color: transparent;border-color: transparent;border-bottom: none;padding-bottom: 0;}
.modal-search div.form-group.row label {margin-left: 0;}
.modal-search .modal-header {background-color: transparent;border-color: transparent;border-bottom: none;padding-bottom: 0;}
.modal-search .form-group {margin-bottom: 15px;}
.modal-search .col-form-label {font-size: 16px;line-height: normal;padding-top: 0;}
.modal-search .checkbox {display: inline-block;}
.modal-search .checkbox label {padding-right: 8px;}
.modal_search_date {display: inline-block;}
.modal-search .input-group-append .btn {margin-bottom: 0;}
@media (min-width: 576px) {
    .modal-search .modal-dialog {max-width: 700px;}
}
/*************************
        page3
*************************/
.panel_header.tabtn a.btn.active {background: #ef4d56!important;border-color: #ef4d56;}
.panel_header.tabtn a.btn:hover {background: #ef4d56!important;border-color: #ef4d56;}
/*************************
        page4
*************************/
.file-box .text-truncate {
    overflow: auto;
    text-overflow: inherit;
    white-space: normal;
}
.file-box-content {
    margin-bottom: 0;
}
/*************************
        page7
*************************/
.form-span.widthin100 {width: 100px;}
/*************************
        page8
*************************/
.bookinner {display: flex;}
.bookinner .preview-section {
    width: 425px;
    min-width: 425px;
    margin: 8px;
    padding: 0;
    border: 0;
    font-size: 14px;
}
.bookinner .rightab {width: 100%;padding: 0 15px;}