/*思源黑*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/

/*黑體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);*/

/*仿宋體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);*/

/*楷書*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexkai.css);*/

/*明體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexming.css);*/

/*圓體*/
/*@import url(//fonts.googleapis.com/earlyaccess/cwtexyen.css);*/

* {
    -webkit-text-size-adjust: none;
    outline: none;
    hlbr: expression(this.onFocus=this.blur());
}

html,
html *:not(i),
body,
body *:not(i) {
    font-family: "Roboto", "sans-serif", Arial, "Open Sans", "微軟正黑體", "Microsoft JhengHei" !important;
}

label.error {
    display: none !important;
}

input.error,
textarea.error,
select.error {
    border: 1px solid #FF0000 !important;
    background-color: #ffeeee !important;
}

.transition *,
.transition:hover * {
    -o-transition: all .20s linear !important;
    -webkit-transition: all .20s linear !important;
    -moz-transition: all .20s linear !important;
    transition: all .20s linear !important;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 1s 0s ease;
    opacity: 0;
}

img.img-responsive {
    max-width: 100%;
    height: auto;
}

.div-table img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.div-table.no-margin img {
    margin: 0;
}

#verifyImgCode {
    cursor: pointer;
}

.error404 {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
}

.youtube_content {
    position: relative;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube_content {
    padding-bottom: 56.25%;
}

.youtube_content iframe,
.youtube_content object,
.youtube_content embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.all-trans {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.all-trans:hover {
    -o-transition: all .5s linear !important;
    -webkit-transition: all .5s linear !important;
    -moz-transition: all .5s linear !important;
    transition: all .5s linear !important;
}

.overlybox {
    display: block;
    overflow: hidden;
}

.overlybox img {
    transition: all 0.5s;
}

.overlybox:hover img {
    transform: scale(1.4);
}

.fullTexty {
    text-align: justify;
    text-justify: auto;
}

.overflowTexty {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.overflow_multi {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.noDisplay {
    display: none;
}

.spriteIMG {
    background-image: url(images/common_images/sprite.png);
    background-repeat: no-repeat;
}

#verifyImgCode {
    cursor: pointer;
}


/* This code is tested with latest version of Firefox and Chrome */

.image-shadow-box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    margin-bottom: 30px;
}

.image-shadow-box:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    left: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg) skew(-0deg);
    -moz-transform: rotate(-5deg) skew(-0deg);
    -ms-transform: rotate(-5deg) skew(-0deg);
    -o-transform: rotate(-5deg) skew(-0deg);
    transform: rotate(-5deg) skew(-0deg);
}

.image-shadow-box:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 14px;
    right: 11px;
    width: 50%;
    height: 20%;
    box-shadow: 0 14px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(5deg) skew(0deg);
    -moz-transform: rotate(5deg) skew(0deg);
    -ms-transform: rotate(5deg) skew(0deg);
    -o-transform: rotate(5deg) skew(0deg);
    transform: rotate(5deg) skew(0deg);
}

.corner3px {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.corner4px {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.corner5px {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.corner6px {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.corner7px {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.corner8px {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.corner9px {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.corner10px {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.corner11px {
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}




/* margin bottom */

.cms_mb0 {
    margin-bottom: 0px;
}

.cms_mb10 {
    margin-bottom: 10px;
}

.cms_mb20 {
    margin-bottom: 20px;
}

.cms_mb30 {
    margin-bottom: 30px;
}

.cms_mb40 {
    margin-bottom: 40px;
}

.cms_mb50 {
    margin-bottom: 50px;
}

.cms_mb60 {
    margin-bottom: 60px;
}

.cms_mb70 {
    margin-bottom: 70px;
}

.cms_mb80 {
    margin-bottom: 80px;
}

.cms_mb90 {
    margin-bottom: 90px;
}

.cms_mb100 {
    margin-bottom: 100px;
}

.cms_mb110 {
    margin-bottom: 110px;
}

.cms_mb120 {
    margin-bottom: 120px;
}




/* margin top */

.cms_mt0 {
    margin-top: 0px;
}

.cms_mt10 {
    margin-top: 10px;
}

.cms_mt20 {
    margin-top: 20px;
}

.cms_mt30 {
    margin-top: 30px;
}

.cms_mt40 {
    margin-top: 40px;
}

.cms_mt50 {
    margin-top: 50px;
}

.cms_mt60 {
    margin-top: 60px;
}

.cms_mt70 {
    margin-top: 70px;
}

.cms_mt80 {
    margin-top: 80px;
}

.cms_mt90 {
    margin-top: 90px;
}

.cms_mt100 {
    margin-top: 100px;
}

.cms_mt110 {
    margin-top: 110px;
}

.cms_mt120 {
    margin-top: 120px;
}




/* margin left */

.cms_ml0 {
    margin-left: 0px;
}

.cms_ml10 {
    margin-left: 10px;
}

.cms_ml20 {
    margin-left: 20px;
}

.cms_ml30 {
    margin-left: 30px;
}

.cms_ml40 {
    margin-left: 40px;
}

.cms_ml50 {
    margin-left: 50px;
}

.cms_ml60 {
    margin-left: 60px;
}

.cms_ml70 {
    margin-left: 70px;
}

.cms_ml80 {
    margin-left: 80px;
}

.cms_ml90 {
    margin-left: 90px;
}

.cms_ml100 {
    margin-left: 100px;
}

.cms_ml110 {
    margin-left: 110px;
}

.cms_ml120 {
    margin-left: 120px;
}




/* margin right */

.cms_mr0 {
    margin-right: 0px;
}

.cms_mr10 {
    margin-right: 10px;
}

.cms_mr20 {
    margin-right: 20px;
}

.cms_mr30 {
    margin-right: 30px;
}

.cms_mr40 {
    margin-right: 40px;
}

.cms_mr50 {
    margin-right: 50px;
}

.cms_mr60 {
    margin-right: 60px;
}

.cms_mr70 {
    margin-right: 70px;
}

.cms_mr80 {
    margin-right: 80px;
}

.cms_mr90 {
    margin-right: 90px;
}

.cms_mr100 {
    margin-right: 100px;
}

.cms_mr110 {
    margin-right: 110px;
}

.cms_mr120 {
    margin-right: 120px;
}


/**** editor-area ****/

.editor-area {
    color: #000;
}

.editor-area p {
    margin-bottom: 15px;
    color: #000;
    line-height: 28px;
    font-size: 16px;
}

.editor-area p:last-child {
    margin-bottom: 0;
}


.editor-area img {
    margin-bottom: 15px;
}

.editor-area ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area ol {
    list-style-type: decimal;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 30px;
}

.editor-area h1 {
    font-size: 36px;
}

.editor-area h2 {
    font-size: 30px;
}

.editor-area h3 {
    font-size: 24px;
}

.editor-area h4 {
    font-size: 18px;
}

.editor-area h5 {
    font-size: 14px;
}

.editor-area h6 {
    font-size: 12px;
}

.editor-area h1,
.editor-area h2,
.editor-area h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.editor-area h4,
.editor-area h5,
.editor-area h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}


.scrollup {
    width: 50px;
    display: none;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    background-color: #333333;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.scrollup:hover {
    background-color: #767676;
    color: #fff;
}
.blueimp-gallery>.indicator>li {
    background-size: cover;
}
.blueimp-gallery>.next,
.blueimp-gallery>.prev,
.blueimp-gallery>.close,
.blueimp-gallery>.title,
.blueimp-gallery>.indicator {
    display: block;
}
.blueImpGallery #links a {
    width: 200px;
    height: 150px;
    display: inline-block;
    text-align: center;
    margin: 7px;
}
.blueImpGallery #links a img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
/******************************
            symod
******************************/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../../fonts/glyphicons-halflings-regular.eot');
    src: url('../../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../../../fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../../../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {position: relative;top: 1px;display: inline-block;font-family: 'Glyphicons Halflings' !important;font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.carousel-control.left, .carousel-control.right {background-image: none;}
.carousel-indicators {
    left: 0;
    width: 100%;
    bottom: 10px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.carousel-caption {padding-top: 0 !important;}
.editor-area .nav.nav-tabs {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.editor-area .nav.nav-tabs li a {background-color: #3366CC;color: #fff;margin-right: 5px;margin-bottom: 5px;}
.editor-area .nav.nav-tabs li.active a {background-color: #cc9900;color: #fff;}
.editor-area .nav.nav-tabs li:hover a {border-color: #cc9900;background-color: #cc9900;}
.editor-area .tab-content {padding: 0;border: none;margin-top: 15px;}
.form-control::-webkit-input-placeholder {color: #555;}
.form-control:-moz-placeholder {color: #555;opacity:  1;}
.form-control::-moz-placeholder {color: #555;opacity:  1;}
.form-control:-ms-input-placeholder {color: #555;}
.form-control::-ms-input-placeholder {color: #555;}
.form-control::placeholder {color: #555;}
/******************************
            common
******************************/
a {color: #3366CC;}
a:hover, a:focus {color: #2E57A6;}
::selection {background: #2E57A6;}
::-moz-selection {background: #2E57A6;}
::-webkit-selection {background: #2E57A6;}
.section-title {margin-bottom: 0;}
.section-title > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.section-title .title {margin-bottom: 0;}
.section-title p.left-bordered {margin-bottom: 0;}
.inner-header.divider {background-position: bottom;}
.inner_title {margin-top: 0;font-weight: bold;}
.rs-vertical-middle {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.nev_btn a {
    display: inline-block;
    height: 40px;
    line-height: 36px;
    text-align: center;
    min-width: 147px;
    padding: 0 20px;
    border: 2px solid #4bcaf0;
    color: #4bcaf0;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}
.nev_btn a:hover {background-color: #4bcaf0;color: #fff;}
.nev_btn a.disabled, .nev_btn a.disabled:hover {
    border-color: #999;
    cursor: not-allowed;
    color: #999;
    background-color: transparent;
}
.float-right {float: right!important;}
.page_nev {margin-top: 20px;padding-top: 20px;}
.bg-theme-colored {background-color: #2E57A6 !important;}
.btn-theme-colored {background-color: #3366CC;border-color: #3366CC;}
.btn-theme-colored:focus,
.btn-theme-colored.focus {background-color: #2E57A6;border-color: #2E57A6;}
.btn-theme-colored:hover {background-color: #2E57A6;border-color: #2E57A6;}
.text-theme-colored {color: #2E57A6 !important;}
.line-bottom:after {border-color: #2E57A6;}
.breadcrumb_title {color: #fff;}
.breadcrumb > li {color: #fff;}
.breadcrumb.white li.active {color: #1F406D;}
.breadcrumb.white li a:hover {color: #1F406D;}
.breadcrumb li {font-size: 20px;line-height: 25px;}
.breadcrumb > li + li::before {font-size: 18px;margin: 0 5px;}
.pagination > .page-ellipsis > a {cursor: default;}
.pagination > .page-ellipsis > a:focus, .pagination > .page-ellipsis > a:hover {color: #337ab7;background-color: transparent;}
@media (max-width: 767px) {
    .editor-area .nav-tabs > li {width: 100%;}
    .pagination > li > a {padding: 8px;}
    .inner-header.divider > .container {padding-top: 20px!important;padding-bottom: 20px!important;}
}
/******************************
            header
******************************/
.menuzord-brand img {max-height: 100px;}
.menuzord-brand {margin: 0;}
.border-top-theme-colored2-2px {border-top: 2px solid #2E57A6;}
.icon-theme-colored2 a {color: #fff;}
.topbar-language li {display: inline-block;}
.styled-icons.icon-sm a {margin: 0px 7px 0px 0;font-size: 18px;}
.styled-icons.icon-sm a:hover {color: #ffc20f;}
.header-top .widget {line-height: 30px;margin: 5px 0;}
.topbar-language li a {color: #fff;font-size: 16px;}
.topbar-language li:first-child a {padding-right: 10px;margin-right: 10px;border-right: 1px solid #fff;}
.topbar-language li.active a , .topbar-language li:hover a {color: #ffc20f;}
.menuzord-menu > li > a {font-size: 16px;}
.menuzord-menu ul.dropdown li a {font-size: 14px;white-space: normal;}
.widget .search-button {background-color: #4bcaf0;border: 1px solid #4bcaf0;color: #fff;}
.menuzord .search_bar {
    width: 240px;
    display: inline-block;
    float: right;
    padding: 14px 0;
}
.header-middle > .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.header-middle .widget h5 {word-break: break-all;}
.menuzord-menu > li > a {padding: 8px 14px;}
.header-middle .search_bar .widget {margin-bottom: 0;}
.header-middle .search_bar .widget form {margin-bottom: 0;}
.fix-logo {display: none;}
.menuzord-menu ul.dropdown {background-color: rgba(255,255,255,.7);}
.header_right .search_bar .input-group-btn {width: auto;}
.header_right .search_bar .input-group {display: -webkit-box;display: -ms-flexbox;display: flex;}
@media (min-width: 1001px) {
    .header-nav-wrapper .widget {margin: 0;}
    .header-nav-wrapper .widget form {margin: 0;}
    .menuzord .menuzord-menu .nav_search {display: none;}
}
@media (min-width: 992px) {
    .header-middle .widget.no-border {float: right;width: 210px;}
    .header_right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header_right .search_bar {padding-right: 20px;}
}
@media (max-width: 1199px) {
    .menuzord-menu > li > a {padding: 8px 6px;}
    .menuzord .search_bar {width: 180px;}
}
@media (max-width: 1000px) {
    .menuzord .search_bar {display: none;}
    .menuzord-menu > li.nav_search > a > i {float: none;}
    /*.menuzord > a {
        right: 43%;
        top: 0;
        left: auto;
        bottom: 0;
        margin: auto;
        height: auto !important;
        padding: 8px 0 10px !important;
        line-height: normal;
        border: 1px solid #777;
        margin-bottom: 15px !important;
    }*/
    .menuzord .showhide em {margin: 3.5px 19px 0;}
    .header-nav-wrapper.bg-white {background-color: #fcfcfc !important;}
    .menuzord {background-color: #fcfcfc;}
    .header-nav .header-nav-wrapper {box-shadow: none;}
}
/*@media (max-width: 1000px) and (min-width: 996px) {
    .header-nav .header-nav-wrapper .menuzord {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}*/
@media (max-width: 995px) and (min-width: 901px) {
    /*.header-nav .header-nav-wrapper .menuzord {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }*/
    .menuzord-menu > li > a {padding: 8px 13px;}
    .menuzord .showhide {
        float: none;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media (max-width: 991px) {
    .menuzord-brand img {max-height: 80px;}
    .header-middle > .container > .row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .header-middle .widget.no-border {display: none;}
    .header-middle .menuzord-brand {margin-bottom: 10px;}
    .menuzord-responsive .showhide {position: absolute;right: 0;top: -130px;}
    .scroll-to-fixed-fixed .menuzord-responsive .showhide {position: static;}
}
@media (max-width: 900px) {
    .scroll-to-fixed-fixed .fix-logo {display: block;}
    .scroll-to-fixed-fixed .fix-logo img {max-height: 50px;}
    .scroll-to-fixed-fixed .menuzord .showhide {padding-top: 20px;}
    /*.menuzord > a {
        position: relative;
        right: 43%;
        top: 0;
        left: auto;
        bottom: 0;
    }*/
}
@media (max-width: 767px) {
    .menuzord-menu > li > a + .dropdown.on {display: block!important;}
}
@media (max-width: 420px) {
    .menuzord-brand img {max-height: 50px;}
    .menuzord-responsive .showhide {top: -115px;}
}
/******************************
            footer
******************************/
.footer {background-color: #3e3a39;}
.footer .list-inline {margin: 20px 0 0;font-size: 15px;}
.footer .list-inline i {color: #4bcaf0;width: 20px;text-align: center;}
.footer .list-inline li {display: block;}
.footer .list-inline li > a {color: #fff;}
.footer .list-inline li > a:hover , .footer .list-inline li > a:hover i {color: #cc9900;}
.footer-bottom {background-color: #333;}
.footer-bottom > .container > .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.footer-bottom .styled-icons {line-height: normal;text-align: right;}
.footer-bottom .styled-icons.icon-dark a {background-color: #555;}
.footer .widget .widget-title {margin-bottom: 15px;padding: 0;background-color: transparent;display: block;padding-bottom: 5px;}
.footer .widget .widget-title a {color: #fff;}
.footer .widget .widget-title a:hover {color: #cc9900;}
.footer .widget ul li {font-size: 16px;}
.footer .widget ul li a {color: #fff;}
.footer .widget ul li a i {color: #4bcaf0;padding-right: 5px;}
.footer .widget ul li a:hover , .footer .widget ul li a:hover i {color: #cc9900;}
.footer .widget.dark {margin-bottom: 0;}
.footer .line-bottom:after {border: 1px solid #fff;}
.footer .widget.dark + .widget.dark {margin-top: 40px;}
@media (max-width: 991px) {
    .footer {text-align: center;}
    .footer .list-inline {margin-bottom: 20px;}
    .footer .widget.dark {margin-bottom: 20px;}
    .footer-bottom > .container > .row {display: inline-block;}
    .footer-bottom .styled-icons {text-align: center;margin-top: 15px;}
    .footer .line-bottom:after {left: 50%;margin-left: -25px;}
}
/******************************
            sidebar
******************************/
.widget .widget-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2E57A6;
    padding: 7px 15px;
    display: inline-block;
    color: #fff;
}
.widget .widget-title i {padding-right: 7px;}
.nav-item ul {display:none;}
.categories ul.list li a {
    font-size: 16px;
    display: block;
    line-height: normal;
    color: #666;
}
.categories ul.list li a i {position: absolute;right: 0;top: 50%;font-size: 20px;transform: translate(-50%, -50%);}
.widget ul.list li .im_list li {font-size: 14px;padding: 0;margin: 0;}
.widget ul.list li .im_list li:last-child {margin-bottom: 0;border-bottom: none;}
.nav-item.nav-show .im_menu i {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}
.nav-item > a {font-weight: bold;}
.widget ul.list li .im_list {margin-left: 0;}
.widget ul.list li .im_list li a {color: #999;padding: 10px 5px 10px 15px;}
.widget ul.list li .im_list li.got_u > a {background-color: #f1f1f1;color: #000;}
.widget ul.list li .im_list li:hover > a {background-color: #4bcaf0;color: #fff;}
.widget ul.list li.nav-item.nav-show {padding-bottom: 0;}
.widget ul.list > li {background-color: #4bcaf0;position: relative;margin: 0;padding: 0;}
.widget ul.list li > a {color: #fff;}
.widget .list-border li {border-bottom-color: #fff;border-bottom-style: solid;}
.categories .nav-item.nav-show > a i {top: 10px;right: 10px;}
.categories .nav-item > a {padding: 10px 25px 10px 15px;}
.widget ul.list > li:hover {background-color: #2E57A6;}
.categories .im_list {background-color: #fff;}
.widget ul.list li.nav-item.nav-show {background-color: #2E57A6;}
.widget ul.list li .im_list li:hover a {background-color: #f1f1f1;color: #000;}
/******************************
            home-news
******************************/
.home_news_sec .btn {border-radius: 0;}
@media (min-width: 992px) {.home_news_sec .left_title {text-align: right;}}
@media (max-width: 991px) {
    .home_news_sec .section-title > .row {display: block;}
    .home_news_sec .left_title {margin-bottom: 10px;text-align: center;}
    .home_news_sec .right_title {text-align: center;}
    .home_news_sec .section-title p.left-bordered {border: none;}
}
/******************************
            home-link
******************************/
.home_link_sec .team-thumb img {margin-bottom: 0;}
.home_link_sec .team-bottom-part {background-color: #fff;}
.row_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.team-members.style2:hover .team-bottom-part {border-color: #2E57A6 !important;}
/*.home_link_sec .icon-box .icon {margin-bottom: 15px;}
.icon-box.iconbox-theme-colored .icon {color: #2E57A6;}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {box-shadow: 0 0 0 3px #2E57A6;}
.icon-box.iconbox-theme-colored .icon.icon-bordered {border-color: #2E57A6;}
.icon-box.iconbox-theme-colored:hover .icon.icon-bordered {background-color: #2E57A6;color: #fff;}
.icon-box.iconbox-theme-colored .icon.icon-bordered > a {display: block;}
.icon-box.iconbox-theme-colored:hover .icon.icon-bordered > a {color: #fff;}
.home_link_sec .icon-box-title a {color: #3366CC;}
.home_link_sec .icon-box-title a:hover {color: #2E57A6;}
.home_link_sec .icon-box-title + p {color: #777;}*/
@media (min-width: 992px) {.home_link_sec .left_title {text-align: right;}}
@media (max-width: 991px) {
    .home_link_sec .section-title > .row {display: block;}
    .home_link_sec .section-content > .row_link {display: block;}
    .home_link_sec .left_title {margin-bottom: 10px;text-align: center;}
    .home_link_sec .right_title {text-align: center;}
    .home_link_sec .section-title p.left-bordered {border: none;}
}
/******************************
            rwd-table
******************************/
.rwd-table {background: #fff;}
.rwd-table a{color: #595656;}
.rwd-table a:hover {color: #2E57A6;}
.rwd-table tr:nth-child(odd) {background: #e4f3fa;}
.rwd-table tr:first-child {background: #4bcaf0;word-break: keep-all;}
.rwd-table tr:first-child th {color: #fff;text-align: center;}
.rwd-table th,.rwd-table td {margin: 0.5em 1em;}
.rwd-table {min-width: 100%;}
.rwd-table th {display: none;border-bottom: 2px solid #dddddd;}
.rwd-table td {display: table;}
.rwd-table td:before {content: attr(data-th) " : ";font-weight: bold;width: 6.5em;display: table-cell;vertical-align: middle;}
.rwd-table th,.rwd-table td {text-align: left;}
.rwd-table th,.rwd-table td:before {color: #555;font-weight: bold;}
@media (min-width: 768px) {
  .rwd-table td:before {display: none;}
  .rwd-table th,.rwd-table td {display: table-cell;padding: 8px;border: 1px solid #dddddd;}
  .rwd-table th {border-bottom-width: 2px;}
}
/******************************
        products-grid
******************************/
.row_products_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.row_products_grid .col_list {width: 25%;height: auto;padding: 0 8px;}
.row_products_grid .products_grid_menu {height: 100%;}
.products_grid_list {padding: 5px;height: 100%;border: 1px solid #B3B3B3;overflow: hidden;}
.products_grid_list img {
    -webkit-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*.products_grid_list:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}*/
.products_grid_list h6 {font-size: 14px;margin-top: .5rem;word-break: break-all;margin-bottom: 0;color: #1f406d;}
.products_grid_list h6:after {
    content: "";
    background-color: #B3B3B3;
    height: 1px;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.products_grid_list p {font-size: 13px;margin-bottom: 0;word-break: break-all;color: #2e57a6;}
.products_grid_menu:hover {
    -webkit-box-shadow: 1px 1px 10px #ddd;
    -moz-box-shadow: 1px 1px 10px #ddd;
    -mz-box-shadow: 1px 1px 10px #ddd;
    box-shadow: 1px 1px 10px #ddd;
}
@media (max-width: 991px) {
    .row_products_grid .col_list {width: 50%;}
    .products_grid_list {padding: 20px;}
}
@media (max-width: 767px) {
    .products_grid_list {padding: 5px;}
    .products_grid_list h6 , .products_grid_list p {line-height: normal;}
}
/******************************
        products-list
******************************/
.col_umn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.col_umn .top {
    flex: 0 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2E57A6;
    color: #fff;
}
.col_umn .top a {color: #ffc20f;}
.col_umn .top a:hover {color: #4bcaf0;}
.top .product_no {
    width: 15%;
    border: 1px solid #ddd;
    border-bottom: none;
    border-right:none;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;}
.top .product_name {
    width: 15%;
    border: 1px solid #ddd;
    border-bottom: none;
    border-right:none;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
}
.top .chemical_name {
    width: 70%;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.col_umn .top span {display: block;word-break: break-all;line-height: normal;}
.col_umn .left {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.col_umn .right {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.product_pic {
    border: 1px solid #ddd;
    width: 100%;
    border-right:none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.product_pic:hover > a {opacity: 1;}
.product_pic a {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product_pic img {width: 100%;}
.product_content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_content .table-responsive {width: 100%;height: 100%;}
.product_content .table {margin: 0;width: 100%;height: 100%;}
.product_content .table th , .product_content .table td {vertical-align: middle;padding: 4px;line-height: normal;}
.right .product_others {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.right .inquiry , .right .sds , .right .msds {
    width: 100%;
    border: 1px solid #ddd;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-left: none;
    border-bottom: none;
    justify-content: center;
    padding: 5px;
}
.right .inquiry {/*height: 43%;*/border-bottom: 1px solid #ddd}
.product_others .inquiry .btn {
    font-size: 25px;
    padding: 0;
    line-height: 60px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
}
.product_others .inquiry .btn:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 4px;
    left: 4px;
}
.right .sds {height: 28%;}
.right .msds {border-bottom: 1px solid #ddd;height: 29%;}
@media (max-width: 767px) {
    .product_content .table-responsive {margin-bottom: 0;border-top: none;}
    .col_umn .top {flex-wrap: wrap;-ms-flex-wrap: wrap;}
    .top .product_no {word-break: break-all;width: 50%;}
    .top .product_name {word-break: break-all;width: 50%;border-right: 1px solid #ddd;}
    .top .chemical_name {width: 100%;word-break: break-all;}
    .col_umn .left {width: 100%;}
    .product_pic {border-right: 1px solid #ddd;border-bottom: none;}
    .col_umn .right {width: 100%;}
    .inquiry .btn {padding: inherit;}
    .product_others .inquiry .btn {font-size: 20px;padding: 0px;width: 45px;height: 45px;line-height: 45px;}
    .product_others .inquiry .btn:before {width: 40px;height: 40px;top: 2px;left: 2px;}
}
@media (max-width: 400px) {
    .inquiry .btn ,
    .sds .btn ,
    .msds .btn {padding: 5px;}
}
/******************************
        products-view
******************************/
.row_prodetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.products_left , .products_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.products_left {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}
.prodetail_img img {width: 100%;}
.related_assets {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.related_assets .inquiry {width: 100%;}
.related_assets .sds , .related_assets .msds {width: 45%;}
.related_assets .inquiry .btn ,
.related_assets .sds .btn ,
.related_assets .msds .btn {display: block;margin: 5px 0}
.related_goods .row_products_grid .col_list {padding: 0;}
.related_goods .line-bottom {color: #2E57A6;font-weight: 600;margin-top: 0;}
.related_goods {padding-top: 30px;margin-top: 30px;border-top: 2px dashed #999;}
.products_view_no , .products_view_name {background-color: #1F406D;color: #fff;}
@media (max-width: 767px) {
    .row_prodetail {-ms-flex-wrap: wrap;flex-wrap: wrap;}
    .row_prodetail .products_left {margin-bottom: 20px;}
    .related_assets {width: 100%;}
}
/******************************
            news-list
******************************/
@media (min-width: 768px) {
    .news_list_sec .rwd-table th, .news_list_sec .rwd-table td {padding: 9px;}
}
/******************************
            news-view
******************************/
.entry-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.entry-meta .entry-title {margin: 0;}
.page_nev .rs-vertical-middle {-ms-flex-wrap: nowrap;-webkit-flex-wrap: nowrap;flex-wrap: nowrap;justify-content: center;}
.page_nev .nev_btn a {min-width: auto;}
@media (max-width: 767px) {
    .news_view_sec .entry-title {font-size: 16px;}
}
/******************************
            contact
******************************/
.nav-pills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-fill .nav-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
    background-color: transparent;
    border: 2px solid #004da1;
    color: #004da1;
    border-radius: 0;
    margin: 0 5px 5px 0;
    padding: .5rem .8rem;
    font-weight: 500;
}
.nav-fill .nav-item:hover {
    background-color: #004da1;
    color: #fff;
}
p.method-title{position: relative;}
.method-title span.move2 {
    position: absolute;
    top: -80px;
    left: 0;
}
.contact_sec .method-title img {margin-bottom: 0;max-height: 15px;}
.contactable .table tr td {padding: 3px;line-height: normal;}
/******************************
            inquiry
******************************/
.inquiry_sec .rwd-table td:before {width: 135px;}
.inquiry_sec .rwd-table td {white-space: nowrap;}
.inquiry_sec .rwd-table select {padding: 4px;margin-right: 3px;}
.inquiry_sec .rwd-table input {border: 1px solid rgb(169, 169, 169);margin: 0 3px;}
.inquiry_sec .responsive_table {margin-bottom: 40px;}
form select.form-control {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    -o-appearance: menulist;
    appearance: menulist;
}
.form-control.upperfont {width: 50%;display: inline-block;}
#capcha_image {
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 0;
}
#capcha_image:after {
    content: "\f021";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    left: auto;
}
.inquiry_sec .rwd-table td img {max-height: 100px;}
@media (min-width: 768px) {
    .inquiry_sec .rwd-table th, .inquiry_sec .rwd-table td {text-align: center;}
}
@media (max-width: 350px) {
    .inquiry_sec .responsive_table .btn {padding: 8px 10px;}
}
/******************************
            search
******************************/
.search_sec .search_bar .widget {margin-bottom: 20px;}
.search_sec .search_bar .widget form {margin-bottom: 0;}
@media (min-width: 1001px) {
    .search_sec .search_bar {display: none;}
}