@charset "utf-8";
/* CSS Document */


#contactForm {
	font-size: 12px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#contactForm .hand {
	cursor: pointer;
}
#contactForm .even {
	background-color: #DFF1FF;
}
#contactForm .odd {
	background-color: #F4FAFF;
}
#contactForm .nocolor {
	background-color: #FFF;
}
#contactForm .contactInfo {
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
}
#contactForm .contactTitle {
	color: #666;
	background-color: #F5F5F5;
	text-align: center;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bolder;
}
#contactForm th {
	text-align: right;
	padding-right: 10px;
	color: #666;
}
#contactForm td {
	padding: 7px;
}
#contactForm .wd1 {
	width: 200px;
}
#contactForm .wd2 {
	width: 100px;
	float: left;
}
#contactForm input[type=text] {
	line-height: 20px;
	height: 20px;
	background-color: #F2F2F2;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12px;
	color: #666;
}
#contactForm input[type=text]:hover {
	background-color: #FFF;
}
#contactForm input[type=text]:focus {
	background-color: #FFF;
}
#contactForm input[type=submit], #contactForm input[type=reset] {
	line-height: 24px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 24px;
	background-color: #0066CC;
	margin-right: 5px;
	margin-left: 5px;
	width: 150px;
	color: #FFF;
	cursor: pointer;
}
#contactForm input[type=submit]:hover, #contactForm input[type=reset]:hover {
	background-color: #F90;
	color: #FFF;
}
#contactForm textarea {
	background-color: #F2F2F2;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	color: #666;
	padding: 5px;
	width: 500px;
	height: 100px;
}
#contactForm #verifyImgCode {
	cursor: pointer;
	height: 30px;
	float: left;
	margin-left: 10px;
}
#contactForm label.error {
	margin-left: 15px;
	display: inline;
	font-size: 12px;
	color: #F00;
	font-style: italic;
	font-weight: bolder;
}
#dialogMessage {
	font-family: "微軟正黑體";
	font-size: 14px;
	text-align: center;
	width: 100%;
	padding-top: 20px;
}
